<uib-tabset style="width: 100%">

  <uib-tab ng-repeat="vocab in vm.v2r.vocabs" ng-init="uiStuff={}"
           style="cursor: pointer">

    <script type="text/ng-template" id="v2rClassTabPopup.html">
      <span>
        Class: {{getLabel(vocab.class)}}
        <a target="_blank"
           ng-href="{{getUri(vocab.class)}}"
           ng-bind="getUri(vocab.class)"
           ng-click="openLink(getUri(vocab.class))"
           ng-mouseleave="uiStuff.showPopup=false"
        >
        </a>
      </span>
    </script>

    <tab-heading ng-mouseenter="uiStuff.showPopup=true" ng-mouseleave="uiStuff.showPopup=false">

      <div uib-popover-template="'v2rClassTabPopup.html'"
           popover-placement="right"
           popover-is-open="uiStuff.showPopup"
      >
        {{getName(vocab.class)}}
      </div>

    </tab-heading>


    <table class="table table-bordered">
      <thead>
      <tr>

        <th style="width: 10px">
        </th>

        <th style="width: 5%">ID</th>

        <th ng-repeat="p in vocab.properties"
            ng-bind="getLabel(p)">
        </th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="t in vocab.terms track by $index" ng-init="t_index = $index">

        <td style="width: 10px">
          <button type="button"
                  ng-disabled="vm.someCellBeingEdited || tableform.$waiting"
                  ng-click="removeTerm(vocab, t_index)"
                  class="btn btn-danger btn-xs"
                  uib-tooltip="Remove this term"
                  tooltip-placement="right"
          >
            <i class="fa fa-remove" aria-hidden="true"></i>
          </button>
        </td>

        <td style="width: 5%"
            ng-bind-html="getUri(t) | mklink4uriAlwaysUriParameter"></td>

        <td ng-repeat="a in t.attributes track by $index" ng-init="a_index = $index"
            ng-style="tableform.$visible ? {'background-color': '#fbeacb'} : {}"
        >
          <div ng-init="em = getAttrEditModel(a)">

            <div>
              <form editable-form name="tableform"
                    onaftersave="applyCellChanges(t.attributes, a_index, em)"
                    oncancel="cancelCell(em)">

                <table class="table table-hover table-condensed"
                       ng-click="enterCellEditing(tableform)"
                       uib-tooltip="{{!tableform.$visible && !vm.someCellBeingEdited ? 'Click to edit the value(s) for this property' : ''}}"
                >
                  <tr ng-repeat="valueEntry in em | filter:filterValue track by $index">
                    <td>
                      <span editable-textarea="valueEntry.value"
                            e-rows="2"
                            e-form="tableform"
                            ng-bind="valueEntry.value || 'empty'"
                      >
                      </span>
                      <!--<pre ng-bind="'valueEntry=' +(valueEntry|json)"></pre>-->
                    </td>
                    <td ng-show="tableform.$visible" style="width: 10px">
                      <button type="button" ng-click="deleteValue(em, valueEntry.id)"
                              class="btn btn-danger btn-xs pull-right"
                              uib-tooltip="Remove this value"
                              tooltip-placement="left"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr ng-show="tableform.$visible">
                    <td style="text-align: center" colspan="2">
                      <button type="button" ng-disabled="tableform.$waiting"
                              ng-click="addValue(em)"
                              class="btn btn-default btn-xs"
                      >
                        <i class="fa fa-plus" aria-hidden="true"></i> Add value
                      </button>

                    </td>
                  </tr>
                </table>

                <!--<pre ng-bind="em | json"></pre>-->

                <div class="btn-form" ng-show="tableform.$visible">
                  <button type="submit" ng-disabled="tableform.$waiting"
                          class="btn btn-default btn-xs"
                          uib-tooltip="Apply all changes in this cell">
                    <i class="fa fa-check" aria-hidden="true"></i> Apply
                  </button>
                  <button type="button" ng-disabled="tableform.$waiting"
                          class="btn btn-default btn-xs pull-right"
                          ng-click="tableform.$cancel()"
                          uib-tooltip="Cancel all changes to this cell"
                          tooltip-placement="left"
                  >
                    Cancel
                  </button>
                </div>

              </form>
            </div>

          </div>
        </td>

      </tr>

      <tr>
        <td style="text-align: center">
          <button type="button"
                  ng-disabled="vm.someCellBeingEdited || tableform.$waiting"
                  ng-click="addTerm(vocab)"
                  class="btn btn-default btn-xs"
                  uib-tooltip="Add term"
                  tooltip-placement="right"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </td>
      </tr>

      </tbody>
    </table>

  </uib-tab>

</uib-tabset>
