<div style="width: 100%">

  <uib-tabset style="width: 100%">

    <uib-tab ng-repeat="vocab in vm.data.vocabs" style="cursor: pointer">

      <script type="text/ng-template" id="classTabPopup.html">
        <span>
          Class:
          <a target="_blank"
             ng-href="{{vocab.class.uri}}"
             ng-bind="vocab.class.name || vocab.class.uri"
             ng-mouseleave="vocab.showPopup=false"
          >
          </a>
        </span>
      </script>

      <tab-heading ng-mouseenter="vocab.showPopup=true" ng-mouseleave="vocab.showPopup=false">

        <div uib-popover-template="'classTabPopup.html'"
             popover-placement="right"
             popover-is-open="vocab.showPopup"
        >
          {{vocab.class.name}}
        </div>

      </tab-heading>


      <table class="table table-bordered">
        <thead>
        <tr>

          <th>ID</th>

          <th ng-repeat="p in vocab.properties" ng-bind="p.name || p.uri">
          </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="t in vocab.terms">

          <td ng-bind-html="(t.uri || t.name) | mklink4uriAlwaysUriParameter"></td>

          <td ng-repeat="a in t.attributes">
            <span ng-if="singleAttrValue(a)" ng-bind="singleAttrValue(a) | mklinksOnlyExternal"></span>

            <ul ng-if="multipleAttrValues(a)">
              <li ng-repeat="b in multipleAttrValues(a)" ng-bind="b | mklinksOnlyExternal">
              </li>
            </ul>
          </td>

        </tr>
        </tbody>
      </table>

    </uib-tab>

  </uib-tabset>


  <pre ng-bind="vm | json"></pre>

</div>
