<div style="width: 100%">

    <br/>

    <div class="effect1">
        <span style="font-size: large">
            <span style="color: gray">
                {{userName}} -
            </span>
            <span style="font-weight: bold">
                {{user.firstName}} {{user.lastName}}
            </span>
        </span>
    </div>

    <form ng-show="user" class="form-horizontal uriBody">

        <div class="form-group" ng-show="user.email">
            <label class="col-xs-2"> Email: </label>
            <div class="col-xs-4" ng-bind-html="user.email"></div>
        </div>

        <div class="form-group" ng-show="user.ontUri">
            <label class="col-xs-2"> RDF: </label>
            <div class="col-xs-4"> {{user.ontUri}} </div>
        </div>

        <div class="form-group"ng-show="user.phone">
            <label class="col-xs-2"> Phone: </label>
            <div class="col-xs-4"> {{user.phone}} </div>
        </div>

        <div class="form-group"ng-show="user.registered">
            <label class="col-xs-2"> Registered: </label>
            <div class="col-xs-4"> {{user.registered}} </div>
        </div>

        <div class="form-group"ng-show="user.updated">
            <label class="col-xs-2"> Updated: </label>
            <div class="col-xs-4"> {{user.updated}} </div>
        </div>

        <div class="form-group" ng-if="user.organizations">
            <label class="col-xs-2"> Organizations: </label>
            <div class="col-xs-6" style="font-size: larger">
              <span ng-repeat="o in user.organizations">
                  <span ng-bind-html="o.orgName | mkOrgLink"
                        uib-tooltip="{{o.name}}"
                  ></span>
                  &nbsp;
              </span>
            </div>
        </div>

    </form>


    <div ng-show="error">
        Error: {{error.error}} <br/>
    </div>

</div>

<div ng-if="user.onts" style="margin-bottom: 12px">
  <h5>Ontologies</h5>

  <table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr class="effect2">
      <th>IRI</th>
      <th>Name</th>
      <th>Author</th>
      <th>Version</th>
    </tr>
    </thead>
    <tr ng-repeat="ont in user.onts">
      <td ng-bind-html="ont.uri | mklink4uriWithSelfHostPrefix"></td>
      <td ng-bind-html="ont | mkMarks"></td>
      <td ng-bind-html="ont.author | mklinksOnlyExternal"></td>
      <td ng-bind="ont.version" style="color: gray"></td>
    </tr>
    <tbody>
    </tbody>
  </table>
</div>
<pre ng-if="debug">{{user | json}}</pre>
