<div style="background-color: #cfe3e6; width: 100%; text-align: center">
  <label style="font-size: large">
  Mapped ontologies
  </label>

  <span uib-dropdown style="margin-left: 10px">
    <a href id="add-mapped-ont-dropdown" uib-dropdown-toggle
       class="btn btn-info btn-xs" style="padding-left: 12px;padding-right: 12px"
    >
      Add <i class="caret"></i>
    </a>
    <ul class="dropdown-menu m2rUriSelect" aria-labelledby="add-mapped-ont-dropdown">
      <li ng-repeat="ont in vm.selectableOnts">
        <a href class="uriTextSimple"
           uib-popover="{{ont.name}}" popover-trigger="mouseenter"
           popover-placement="left"
           popover-append-to-body="true"
           ng-click="selectMappedOntology(ont)">{{ont.uri}}</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href
           uib-popover="Click to enter URL of desired ontology" popover-trigger="mouseenter"
           popover-placement="left"
           popover-append-to-body="true"
           ng-click="enterExternalOntologyUri()">External ontology&hellip;</a>
      </li>
      <li class="divider"></li>
    </ul>
  </span>

  <span style="margin-left: 12px"
        uib-popover="This section shows the currently associated ontologies
        from which terms can be selected to be mapped.
        Use the Add button to load either registered or external ontologies as needed."
        popover-placement="bottom"
        popover-trigger="mouseenter"
  >
    <i class="fa fa-question-circle fa-lg" aria-hidden="true" style="color: gray"></i>
  </span>

</div>

<div style="width: 100%">
  <table style="width: 100px; margin-left: auto; margin-right: auto">
    <tbody>
    <tr ng-if="vm.mappedOntsInfo.length===0">
      <td style="text-align: center;color:gray;font-style: italic; white-space: nowrap; margin-bottom: 5px">
        None (use the Add button above)
      </td>
    </tr>
    <tr ng-repeat="moi in vm.mappedOntsInfo" style="white-space: nowrap">
      <td>
        <span ng-if="moi.loading">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </span>
        {{$index + 1}}-
        <span ng-bind-html="moi.uri | mklinksOnlyExternal"></span>
        <span ng-if="moi.name">
          - {{moi.name}}
<!--
          <span ng-if="moi.version" style="color: #b3b3b3; font-size: x-small; font-weight: 200">
            {{moi.version}}
          </span>
-->
        </span>
        <span ng-if="moi.error"
              style="color: #e0919a; font-size: small; font-weight: 200; font-style: italic">
          &nbsp;{{moi.error}}
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div style="background-color: #cfe3e6; width: 100%; text-align: center; margin-top: 10px">
  <label style="font-size: large">
    Term and relation predicate selection
  </label>
  <span style="margin-left: 12px"
        uib-popover="Once one or more ontologies are selected above,
        use the numbered buttons to load the corresponding ontologies to load on each side of this section.
        The left- and right-hand sides here will respectively contain potential
        'subjects' and 'objects' for the needed mappings.
        All terms from the selected ontologies will be displayed.
        To facilitate the term selection you can use the filter on each side to narrow down the list of displayed elements.
        Once subjects and objects that should be mapped together according to a specific predicate are selected,
        click the respective button in the middle of this section.
        Once clicked, the corresponding set of subject–predicate–object triples will be added to the
        'Defined term mappings' table below."
        popover-placement="bottom"
        popover-trigger="mouseenter"
  >
    <i class="fa fa-question-circle fa-lg" aria-hidden="true" style="color: gray"></i>
  </span>
</div>

<table style="width: 100%" class="table">

  <tbody>
  <tr>
    <td style="width: 50%">

      <m2r-data-editor-mapping-side side="'left'"
                                    mapped-onts-info="vm.mappedOntsInfo"
                                    selected-rows="vm.selectedRowsLeft"
      ></m2r-data-editor-mapping-side>

    </td>

    <td style="width: 30px; vertical-align: middle">
      <table>
        <tbody>
        <tr ng-repeat="(relUri, rel) in relations">
          <td uib-popover="{{rel.prop.prefix + ':' + rel.prop.label + ' - ' +rel.prop.tooltip}}"
              popover-trigger="mouseenter"
              style="text-align: center"
          >
            <div class="btn btn-primary btn-xs"
                 style="margin-bottom: 12px"
                 ng-bind-html="rel.prop.localName"
                 ng-disabled="noSelectedPairs()"
                 ng-click="relButtonClicked(rel)"
            ></div>
          </td>
        </tr>
        </tbody>
      </table>

    </td>

    <td style="width: 50%">

      <m2r-data-editor-mapping-side side="'right'"
                                    mapped-onts-info="vm.mappedOntsInfo"
                                    selected-rows="vm.selectedRowsRight"
      ></m2r-data-editor-mapping-side>

    </td>
  </tr>
  </tbody>

</table>

<div style="background-color: #cfe3e6; width: 100%; text-align: center;margin-top: 10px">
  <label style="font-size: large">
    Defined term mappings
  </label>
  <span style="color: gray">
    ({{gridOptions.data.length}})
  </span>
  <span style="margin-left: 12px"
        uib-popover="This section shows the currently defined mapping triples.
        You can filter by subject, predicate, or object to facilitate inspection.
        You can also remove any unnecessary mappings.
        For this, use the checkboxes on the left and then click the 'Remove selected' button.
        **NOTE**: The filtering in this table does not affect the triple selection
        (which might get partially or totally hidden depending on the current filtering)."
        popover-placement="bottom"
        popover-trigger="mouseenter"
  >
    <i class="fa fa-question-circle fa-lg" aria-hidden="true" style="color: gray"></i>
  </span>
</div>

<div>
  <div class="btn btn-default btn-xs"
       ng-disabled="!numSelectedDefinedMappings()"
       ng-click="removeSelectedDefinedMappings()"
  >
    <i class="fa fa-close"></i>
    Remove selected ({{numSelectedDefinedMappings()}})
  </div>
  <div class="btn btn-default btn-xs"
       ng-disabled="!gridOptions.data.length"
       ng-click="selectAllDefinedMappings(true)"
  >
    Select all
  </div>
  <div class="btn btn-default btn-xs"
       ng-disabled="!gridOptions.data.length"
       ng-click="selectAllDefinedMappings(false)"
  >
    Unselect all
  </div>
</div>

<div class="ontGrid" ui-grid="gridOptions"></div>

<div ng-if="debug" >
  <pre class="debug" ng-bind="'ontData = ' +(ontData | json)"></pre>
  <pre class="debug" ng-bind="'vm = ' +(vm | json)"></pre>
</div>
