node_modules/
bower_components/
src/app/js/config.local.js
src/app/vendor
src/app/js/templates.js
bin/
dist/
build/
.DS_Store
.idea
.idea_modules
*~
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.cache
*.class
*.log
