<div class="panel panel-default">

  <div class="panel-heading">
    <div>
      <div style="float: left; font-weight: bold">
        Upload ontology file
      </div>

      <div style="float: right">

        <button ng-disabled="!vm.uploadResponse || !vm.originalUri"
                ng-click="nextPage(1)"
                class="btn btn-primary btn-sm">
          Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>

      </div>

      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="panel-body">

    <form name="myForm" class="form-horizontal">

      <div class="form-group">
        <label for="inputFile" class="control-label col-xs-2">
          Ontology file:
        </label>

        <div class="col-xs-4">
          <label ng-if="vm.uploadResponse"
                 ng-bind="vm.uploadResponse.origFilename"
                 class="form-control">
          </label>
          <input ng-if="!vm.uploadResponse"
                 id="inputFile"
                 type="file"
                 class="form-control"
                 style="font-weight: bold"
                 ngf-select
                 ng-model="vm.file"
                 name="file"
                 accept="*/*"
                 ngf-max-size="7MB" required
                 ngf-model-invalid="errorFile">
        </div>
      </div>

      <div class="form-group">
        <label for="inputFormat" class="control-label col-xs-2">
          File format:
        </label>
        <div class="col-xs-2">
          <ui-select ng-disabled="vm.uploadResponse"
                     ng-model="vm.selectedFormat" id="inputFormat">
            <ui-select-match placeholder="Select format">
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.formatOptions | filter: $select.search) track by item.id">
              <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>

          <i ng-show="myForm.file.$error.maxSize" style="color: red">
            <br>
            File too large
            {{errorFile.size / 1000000|number:1}}MB: max 7M
          </i>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2"> </label>
        <button ng-if="vm.uploadResponse"
                ng-click="uploadAnotherFile()"
                class="btn btn-primary btn-sm">
          Upload another file
        </button>
        <button ng-if="!vm.uploadResponse"
                ng-disabled="!myForm.$valid || !vm.selectedFormat.id"
                ng-click="doUpload(vm.file)"
                class="btn btn-primary btn-sm">
          Upload file
        </button>
      </div>

      <div class="progress" ng-show="vm.progressPercentage >= 0">
        <div style="width:{{vm.progressPercentage}}%; background-color: #dbdbdb"
             ng-bind="vm.progressPercentage < 100 ? vm.progressPercentage + '%' : ''">
        </div>
      </div>

      <span ng-show="vm.file.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>


      <div ng-if="vm.uploadResponse">

        <div class="form-group">
          <label class="control-label col-xs-2" for="inputOriginalUri">
            Original ontology URI:
          </label>

          <div class="col-xs-4">
            <input id="inputOriginalUri"
                   type="text"
                   class="form-control"
                   ng-model="vm.originalUri"
                   name="originalUri"
                   placeholder="Indicate the original URI of this ontology"
                   required>
          </div>
        </div>

        <div class="form-group" ng-if="vm.uploadResponse.data.possibleOntologies">
          <label class="col-xs-2"> </label>

          <div class="col-xs-6">
            <label>
              The following
              {{vm.uploadResponse.data.possibleOntologies.length > 1 ? 'were' : 'was'}}
              detected in the contents of the file:
            </label>

            <ul>
              <li ng-repeat="e in vm.uploadResponse.data.possibleOntologies">
                <span ng-bind="e.uri" style="font-weight: bold">
                </span>
                <button ng-click="vm.originalUri = e.uri" uib-tooltip="Select this URI as the original"
                        class="btn btn-default btn-xs">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>

                <div ng-if="e.explanation" ng-bind="e.explanation" style="color:gray; font-weight: 200">
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>
