<div class="panel panel-default">

  <div class="panel-heading">
    <div>
      <div style="float: left; font-weight: bold">
        Registration type
      </div>

      <div style="float: right">

        <button ng-click="backPage('uri-confirmed')"
                class="btn btn-primary btn-sm">
          <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
        </button>

        <button ng-click="nextPage(2)"
                ng-disabled="!vm.registrationType"
                class="btn btn-primary btn-sm">
          Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>

      </div>

      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="panel-body">

    <p>
      <label>
        Select type of registration:
      </label>
    </p>

    <div style="margin-left: 40px">

      <label class="regtype {{vm.registrationType==='re-hosted' ? 'regtype-selected' : ''}}">
        <input type="radio" ng-model="vm.registrationType" value="re-hosted">
        Re-hosted ontology
      </label>
      <br>
      <span style="margin-left: 30px">
        No changes at all to URIs of ontology and associated terms.
      </span>

      <br><br>

      <label class="regtype {{vm.registrationType==='fully-hosted' ? 'regtype-selected' : ''}}">
        <input type="radio" ng-model="vm.registrationType" value="fully-hosted">
        Fully hosted ontology
      </label>
      <br>
      <span style="margin-left: 30px">
        URIs of ontology and associated terms are moved to a namespace with prefix
        <span class="uriTextSimple" ng-bind="cfg.orront.rest + '/'"> </span>.
      </span>

    </div>

  </div>
</div>
