<div class="panel panel-default">

    <div class="panel-heading">
      <div>
        <div style="float: left; font-weight: bold">
          Fully hosted registration type
        </div>

        <div style="float: right">

          <button ng-click="vm.page = 1"
                  class="btn btn-primary btn-sm">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
          </button>

          <button ng-click="vm.page = 3"
                  ng-disabled="true"
                  class="btn btn-primary btn-sm">
            Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>

        </div>

        <div style="clear:both;"></div>
      </div>
    </div>

    <div class="panel-body">

      <form name="myForm" class="form-horizontal">

        <div class="form-group">
          <label for="inputOrgName" class="control-label col-xs-2">
            Owner:
          </label>

          <div class="col-xs-4">

            <ui-select ng-model="vm.selectedOwner" id="inputOrgName">
              <ui-select-match placeholder="Select owner">
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in (vm.ownerOptions | filter: $select.search) track by item.id">
                <span ng-bind="item.name"></span>
              </ui-select-choices>
            </ui-select>

          </div>
        </div>

        <div class="form-group">
          <label for="inputNewShortName" class="control-label col-xs-2">
            Ontology short name:
          </label>

          <div class="col-xs-2">
            <input id="inputNewShortName"
                   type="text"
                   class="form-control"
                   ng-model="vm.newShortNameEntered"
                   name="newShortName"
                   required>
          </div>
          <div class="col-xs-1">
            <button ng-click="shortNameFromFileName()"
                    class="btn btn-info btn-xs">
              Use filename
            </button>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-xs-2">
            New URI:
          </label>

          <div class="col-xs-6">
            <div class="uriText1">
              {{cfg.orront.rest}}/<span ng-if="vm.selectedOwner" ng-bind="vm.selectedOwner.id"
                                        style="font-weight: bold;text-decoration: underline"
            ></span><span ng-if="!vm.selectedOwner"
                          style="color: darkred"
            >owner</span>/<span ng-if="vm.newShortName" ng-bind="vm.newShortName"
                                style="font-weight: bold;text-decoration: underline"
            ></span><span ng-if="!vm.newShortName"
                          style="color: darkred"
            >newShortName</span>
            </div>

          </div>
        </div>


        <div class="form-group">
          <label for="inputName" class="control-label col-xs-2">
            Ontology label:
          </label>

          <div class="col-xs-4">
            <input id="inputName"
                   type="text"
                   class="form-control"
                   ng-model="vm.name"
                   name="name"
                   placeholder="A short description of the ontology"
                   required>
          </div>
        </div>

        <div class="form-group" ng-if="possibleOntologyLabels">
          <label class="col-xs-2"> </label>

          <div class="col-xs-6">
            <label>
              Label(s) found in the contents of the file:
            </label>

            <ul>
              <li ng-repeat="e in possibleOntologyLabels">
                <span ng-bind="e" style="font-weight: bold">
                </span>
                <button ng-click="vm.name = e" uib-tooltip="Select this label"
                        class="btn btn-info btn-xs">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group">
            <label class="col-xs-2"> </label>
            <button ng-disabled="!okToRegisterFullyHosted()"
                    ng-click="doRegisterFullyHosted()"
                    class="btn btn-primary btn-sm">
              Complete registration
            </button>
          </div>
        </div>

      </form>

    </div>
  </div>
