<div style="margin: 20px" ng-if="userLoggedIn()">

  <h3>Ontology registration</h3>

  <div class="center" ng-if="vm.originalUri">
    <span class="uriText0" ng-bind="vm.originalUri" uib-tooltip="Original URI"></span>

    <div ng-if="vm.page === 'regtype-selected' && vm.registrationType === 'fully-hosted'">
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
      <br>
      <span class="uriText0" uib-tooltip="Target URI">
        {{cfg.orront.rest}}/<span ng-if="vm.selectedOwner" ng-bind="vm.selectedOwner.id"
                                  style="font-weight: bold;text-decoration: underline"
        ></span><span ng-if="!vm.selectedOwner"
                      style="color: red"
        >owner</span>/<span ng-if="vm.newShortName" ng-bind="vm.newShortName"
                            style="font-weight: bold;text-decoration: underline"
        ></span><span ng-if="!vm.newShortName"
                      style="color: red"
        >short-name</span>
      </span>
    </div>

  </div>

  <div ng-if="!vm.page || vm.page === 'upload'">
    <orrportal-upload-ontology></orrportal-upload-ontology>
  </div>

  <div ng-if="vm.page === 'uri-confirmed'">
    <orrportal-upload-uri-confirmed></orrportal-upload-uri-confirmed>
  </div>

  <div ng-if="vm.page === 'select-regtype'">
    <orrportal-select-registration-type></orrportal-select-registration-type>
  </div>

  <div ng-if="vm.page === 'regtype-selected' && vm.registrationType === 're-hosted'">
    <orrportal-upload-rehosted></orrportal-upload-rehosted>
  </div>

  <div ng-if="vm.page === 'regtype-selected' && vm.registrationType === 'fully-hosted'">
    <orrportal-upload-fully-hosted></orrportal-upload-fully-hosted>
  </div>

</div>
