<div style="margin: 20px" ng-if="userLoggedIn()">

  <h3>New ontology registration</h3>

  <div class="uriText0" ng-bind="vm.originalUri"></div>

  <div ng-if="!vm.page">
    <orrportal-upload-ontology></orrportal-upload-ontology>
  </div>

  <div ng-if="vm.page === 1">
    <orrportal-select-registration-type></orrportal-select-registration-type>
  </div>

  <div ng-if="vm.page === 2 && vm.registrationType === 're-hosted'">
    <orrportal-upload-rehosted></orrportal-upload-rehosted>
  </div>

  <div ng-if="vm.page === 2 && vm.registrationType === 'fully-hosted'">
    <orrportal-upload-fully-hosted></orrportal-upload-fully-hosted>
  </div>

</div>
