<div style="margin: 20px">

  <div ng-if="!vm.page">
    <orrportal-upload-ontology></orrportal-upload-ontology>
  </div>

  <div class="panel panel-default" ng-if="vm.page === 1">

    <div class="panel-heading">
      <div>
        <div style="float: left">
          Registration type
        </div>

        <div style="float: right">

          <button ng-click="vm.page = 0"
                  class="btn btn-primary btn-sm">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
          </button>

          <button ng-click="vm.page = 2"
                  ng-disabled="!vm.registrationType"
                  class="btn btn-primary btn-sm">
            Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>

        </div>

        <div style="clear:both;"></div>
      </div>
    </div>

    <div class="panel-body">

      <p>
        Specify the desired type of registration:
      </p>

      <label>
        <input type="radio" ng-model="vm.registrationType" value="re-hosted">
        Re-hosted ontology
      </label>

      <br>

      <label>
        <input type="radio" ng-model="vm.registrationType" value="fully-hosted">
        Fully hosted ontology
      </label>

    </div>
  </div>

  <div class="panel panel-default" ng-if="vm.page === 2 && vm.registrationType === 're-hosted'">

    <div class="panel-heading">
      <div>
        <div style="float: left">
          Re-hosted registration type
        </div>

        <div style="float: right">

          <button ng-click="vm.page = 1"
                  class="btn btn-primary btn-sm">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
          </button>

          <button ng-click="vm.page = 3"
                  ng-disabled="true"
                  class="btn btn-primary btn-sm">
            Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>

        </div>

        <div style="clear:both;"></div>
      </div>
    </div>

    <div class="panel-body">

      <form name="myForm" class="form-horizontal">

        <div class="form-group">
          <label for="inputOrgName" class="control-label col-xs-2">
            Owner:
          </label>

          <div class="col-xs-4">

            <ui-select ng-model="vm.selectedOwner" id="inputOrgName">
              <ui-select-match placeholder="Select owner">
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in (vm.ownerOptions | filter: $select.search) track by item.id">
                <span ng-bind="item.name"></span>
              </ui-select-choices>
            </ui-select>

          </div>
        </div>

        <div class="form-group">
          <label for="inputUri" class="control-label col-xs-2">
            Ontology URI:
          </label>

          <div class="col-xs-4">
            <!--<i ng-show="myForm.name.$error.required">*</i>-->

            <ui-select id="inputUri" ng-model="vm.uri">
              <ui-select-match placeholder="Indicate URI of the ontology">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in getPossibleOntologyUris($select.search) | filter: $select.search">
                <span ng-bind="item"></span>
              </ui-select-choices>
            </ui-select>

          </div>
        </div>

        <div class="form-group">
          <label for="inputName" class="control-label col-xs-2">
            Ontology label:
          </label>

          <div class="col-xs-4">
            <!--<i ng-show="myForm.name.$error.required">*</i>-->

            <ui-select id="inputName" ng-model="vm.name">
              <ui-select-match placeholder="A short description of the ontology">
                <span ng-bind="$select.selected"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in getPossibleOntologyLabels($select.search) | filter: $select.search">
                <span ng-bind="item"></span>
              </ui-select-choices>
            </ui-select>

          </div>
        </div>

        <div class="form-group">
          <div class="form-group">
            <label class="col-xs-2"> </label>
            <button ng-disabled="!okToRegister()"
                    ng-click="doRegister()"
                    class="btn btn-primary btn-sm">
              Register ontology
            </button>
          </div>
        </div>

      </form>

    </div>
  </div>

  <div class="panel panel-default" ng-if="vm.page === 2 && vm.registrationType === 'fully-hosted'">

    <div class="panel-heading">
      <div>
        <div style="float: left">
          Fully hosted registration type
        </div>

        <div style="float: right">

          <button ng-click="vm.page = 1"
                  class="btn btn-primary btn-sm">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
          </button>

          <button ng-click="vm.page = 3"
                  ng-disabled="true"
                  class="btn btn-primary btn-sm">
            Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>

        </div>

        <div style="clear:both;"></div>
      </div>
    </div>

    <div class="panel-body">

      TODO

    </div>
  </div>

</div>
