<div style="display: inline-block; vertical-align: top; margin-left: 10px; margin-top: 20px">
  <div class="panel panel-default">

    <div class="panel-heading">
      <i class="fa fa-sign-in"></i>
      Sign in
    </div>

    <div class="panel-body">

      <form class="form-horizontal">

        <div class="form-group">
          <label for="inputUserName" class="control-label col-xs-4">
            Username:
          </label>

          <div class="col-xs-5">
            <input id="inputUserName"
                   type="text" class="form-control" style="width: 10em"
                   autocomplete="username"
                   ng-keypress="loginKeyPressed($event)"
                   ng-model="vm.userName"
                   focus-on="login_form_activation"
            >
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword" class="control-label col-xs-4">
            Password:
          </label>

          <div class="col-xs-5">
            <input id="inputPassword"
                   type="password" class="form-control" style="width: 10em"
                   autocomplete="current-password"
                   ng-keypress="loginKeyPressed($event)"
                   ng-model="vm.password"
            >
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2"> </label>
          <button class="btn btn-primary btn-sm" ng-click="doLogin()"
                  ng-disabled="refreshing || !isValid()"
          >Sign in
          </button>

          <label class="col-xs-3"> </label>
          <button class="btn btn-default btn-sm" ng-click="cancel()"
                  ng-disabled="refreshing"
          >Cancel
          </button>

        </div>

        <div style="margin-top: 20px">
          <hr>
        </div>

        <div class="form-group">
          <span class="col-xs-6">Forgot&nbsp;password?</span>
          <button class="btn btn-default btn-xs" ng-click="resetPassword()"
                  ng-disabled="refreshing"
          >Reset password
          </button>
        </div>

        <div class="form-group">
          <span class="col-xs-6">Forgot&nbsp;username?</span>
          <button class="btn btn-default btn-xs" ng-click="remindUsername()"
                  ng-disabled="refreshing"
          >Get username
          </button>
        </div>

        <div class="form-group">
          <span class="col-xs-6">Not&nbsp;registered?</span>
          <button class="btn btn-default btn-xs" ng-click="createAccount()"
                  ng-disabled="refreshing"
          >Create account
          </button>
        </div>

      </form>

      <div ng-show="progress" style="color: darkgreen">
        <span class="fa fa-spinner fa-spin"></span>
        <span>{{progress}}</span>
      </div>
      <div ng-show="error" style="color: darkred">
        {{ error }}
      </div>

    </div>
  </div>
</div>
