<div>
  <form editable-form name="attrTableform"
        onaftersave="applyCellChanges()"
        oncancel="cancelCell(em)">

    <table class="table table-hover table-condensed"
           ng-click="enterCellEditing(attrTableform)"
           uib-tooltip="{{!attrTableform.$visible && !disableEditIf ? 'Click to edit the value(s) for this property' : ''}}"
    >
      <tr ng-repeat="valueEntry in em | filter:filterValue track by $index">
        <td>
          <span editable-textarea="valueEntry.value"
                e-rows="2"
                e-form="attrTableform"
                ng-bind="valueEntry.value || 'empty'"
          >
          </span>
          <!--<pre ng-bind="'valueEntry=' +(valueEntry|json)"></pre>-->
        </td>
        <td ng-show="attrTableform.$visible" style="width: 10px">
          <button type="button" ng-click="deleteValue(em, valueEntry.id)"
                  class="btn btn-danger btn-xs pull-right"
                  uib-tooltip="Remove this value"
                  tooltip-placement="left"
          >
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr ng-show="attrTableform.$visible">
        <td style="text-align: center" colspan="2">
          <button type="button" ng-disabled="attrTableform.$waiting"
                  ng-click="addValue(em)"
                  class="btn btn-default btn-xs"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Add value
          </button>

        </td>
      </tr>
    </table>

    <!--<pre ng-bind="em | json"></pre>-->

    <div class="btn-form" ng-if="attrTableform.$visible">
      <button type="submit" ng-disabled="attrTableform.$waiting"
              class="btn btn-default btn-xs"
              uib-tooltip="Apply all changes in this cell">
        <i class="fa fa-check" aria-hidden="true"></i> Apply
      </button>
      <button type="button" ng-disabled="attrTableform.$waiting"
              class="btn btn-default btn-xs pull-right"
              ng-click="attrTableform.$cancel()"
              uib-tooltip="Cancel all changes to this cell"
              tooltip-placement="left"
      >
        Cancel
      </button>
    </div>

  </form>
</div>

