<div>

  <div ng-if="vm.ontology.format === 'v2r'">
    <div style="width: 100%" ng-controller="V2RController">

      <div ng-if="!editMode">
        <orrportal-v2r-view></orrportal-v2r-view>
      </div>

      <div ng-if="editMode">
        <orrportal-v2r-edit edit-in-progress="setDataEditInProgress(inProgress)"
        ></orrportal-v2r-edit>
      </div>

    </div>

  </div>

  <div ng-if="vm.ontology.ontologyType === 'vocabulary'">
    <h3> Vocabulary </h3>
    <voc></voc>
  </div>

  <div ng-if="vm.ontology.ontologyType === 'mapping'">
    <h3> Mapping </h3>
    todo
  </div>

  <div ng-if="vm.ontology.ontologyType !== 'vocabulary' && vm.ontology.ontologyType !== 'mapping'
              && vm.ontology.format !== 'v2r'">
    <h3> Other </h3>
    todo
  </div>
</div>
