<uib-tabset style="width: 100%">

  <uib-tab ng-repeat="section in metadataSections"
           ng-if="section.propNames"
           style="cursor: pointer">

    <tab-heading uib-popover="{{section.tooltip}}" popover-trigger="mouseenter" popover-placement="right">
      {{section.label}}
    </tab-heading>

    <form class="form-horizontal uriBody">

      <table class="table table-bordered">
        <tbody>

        <tr ng-repeat="prop in getProps(section.propNames)">
          <td class="mdLabel">
            <span ng-bind-html="prop.label | mklinksOnlyExternal"
                  uib-tooltip="{{prop.predicate}}"
                  tooltip-placement="right"
                  >
            </span>
          </td>

          <td class="ontContent">

            <div ng-if="!editMode">
              <div ng-if="prop.value.length === 1"
                   ng-bind-html="prop.value[0] | propValueFilter:prop">
              </div>
              <table ng-if="prop.value.length > 1" class="table table-condensed">
                <tr ng-repeat="v in prop.value track by $index">
                  <td ng-bind-html="v | propValueFilter:prop">
                  </td>
                </tr>
              </table>
            </div>

            <div ng-if="editMode">
              <orp-multivalue-edit prop-value="prop.value"
              ></orp-multivalue-edit>
            </div>

          </td>

        </tr>

        </tbody>
      </table>

    </form>

  </uib-tab>

</uib-tabset>
