<uib-tabset style="width: 100%">

  <uib-tab ng-repeat="sectionKey in metadataSectionKeys"
           ng-if="metadataSections[sectionKey].propNames"
           ng-init="section = metadataSections[sectionKey]"
           style="cursor: pointer">

    <tab-heading uib-popover="{{section.tooltip}}" popover-trigger="mouseenter" popover-placement="right">
      {{section.label}}
    </tab-heading>

    <form class="form-horizontal uriBody">

      <table class="table table-bordered">
        <tbody ng-init="props = getProps(section)">

        <tr ng-repeat="prop in props">
          <td class="mdLabel">
            <span ng-bind-html="prop.label | mklinksOnlyExternal"
                  uib-tooltip="{{prop.predicate}}"
                  tooltip-placement="right"
                  >
            </span>
          </td>

          <td>

            <div ng-if="!editMode">
              <div ng-if="prop.value.length === 1"
                   ng-bind-html="prop.value[0] | propValueFilter:prop">
              </div>
              <table ng-if="prop.value.length > 1" class="table table-condensed">
                <tr ng-repeat="v in prop.value track by $index">
                  <td ng-bind-html="v | propValueFilter:prop">
                  </td>
                </tr>
              </table>
            </div>

            <div ng-if="editMode">
              <orp-multivalue-edit prop-value="prop.value"
                                   disable-edit-if="metadataEditInProgress || dataEditInProgress"
                                   edit-in-progress="setMetadataEditInProgress(inProgress)"
              ></orp-multivalue-edit>
            </div>

          </td>

        </tr>

        <tr ng-if="debug">
          <td colspan="2">
            <pre ng-bind="props | json"></pre>
          </td>
        </tr>

        </tbody>
      </table>

    </form>

  </uib-tab>

</uib-tabset>

<div ng-if="debug">
  <pre>vm.ontology.metadata = {{vm.ontology.metadata | json}}
  </pre>

  <pre ng-if="debug_newMetadata">newMetadata = {{debug_newMetadata | json}}
  </pre>

</div>
