<div style="width: 100%">

  <br/>

  <div class="effect1">

    <orrportal-uri-title></orrportal-uri-title>

    &nbsp;

    <orrportal-uri-view-as-options></orrportal-uri-view-as-options>

    <orrportal-uri-versions></orrportal-uri-versions>

    <span>
      <button ng-if="!editMode && canEditNewVersion()"
              ng-click="startEditMode()"
              type="button" class="btn btn-default btn-xs">
        Edit new version
      </button>

    </span>

    <span ng-if="editMode">

      <button ng-disabled="metadataEditInProgress || dataEditInProgress"
              ng-click="registerNewVersion()"
              class="btn btn-info btn-xs">
        Register
      </button>

      <button ng-click="cancelNewVersion()"
              class="btn btn-info btn-xs">
        Cancel
      </button>
    </span>

  </div>

  <div ng-if="vm.ontology">
    <orrportal-uri-ont-title></orrportal-uri-ont-title>

    <!--<pre>{{vm.ontology | json}}</pre>-->

    <div ng-if="metadataSections">

      <div class="ont-DisclosurePanel-header"
           ng-init="mdCollapsed = false"
           ng-click="mdCollapsed = !mdCollapsed"
        >
        <a>
          <i ng-if="mdCollapsed" class="fa fa-caret-right"></i>
          <i ng-if="!mdCollapsed" class="fa fa-caret-down"></i>
          Metadata
        </a>
      </div>

      <div uib-collapse="mdCollapsed" style="margin-left: 20px">

        <orrportal-uri-metadata></orrportal-uri-metadata>

      </div>

    </div>

    <div ng-if="!editMode || vm.ontology.format === 'v2r' || vm.ontology.format === 'm2r'">

      <div class="ont-DisclosurePanel-header"
          ng-init="contentsCollapsed = false"
          ng-click="contentsCollapsed = !contentsCollapsed"
        >
        <a>
          <i ng-if="contentsCollapsed" class="fa fa-caret-right"></i>
          <i ng-if="!contentsCollapsed" class="fa fa-caret-down"></i>
          Contents
        </a>
      </div>

      <div uib-collapse="contentsCollapsed" style="margin-left: 20px">

        <orrportal-uri-contents></orrportal-uri-contents>

      </div>
    </div>

  </div>

  <div ng-if="error">
    Error: {{error.error}}
  </div>

</div>
