<div style="width: 100%">

  <br/>

  <div class="effect1">

    <span style="font-size: x-large;margin-left: 10px;margin-right: 10px"
          class="uriText">
        {{vm.uri}}
    </span>

    <span ng-if="viewAsOptions">
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
            View/download as <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="vao in viewAsOptions">
              <a target="_blank" ng-href="{{vao.url}}" ng-bind="vao.label"></a>
            </li>
          </ul>
        </div>
    </span>

    <span ng-if="vm.ontology.versions">
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
            Versions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="version in vm.ontology.versions">
              <a ng-href="#/uri/{{uri}}&version={{version}}">{{version}}</a>
            </li>
          </ul>
        </div>
    </span>
  </div>

  <div ng-if="vm.ontology">
    <span class="urititle" ng-bind-html="vm.ontology.name | mklinks">
    </span>

    <span style="color: gray">
      <span ng-if="vm.ontology.version">
          Version: {{vm.ontology.version}}
      </span>

      <span ng-if="vm.ontology.author">
          - Author: {{vm.ontology.author}}
      </span>
      <!--
          <span ng-if="vm.ontology.orgName">
              Organization: {{vm.ontology.orgName}}
          </span>
      -->
      <span ng-if="vm.ontology.submitter">
          - Registered by:
          <a href="#/user/{{vm.ontology.submitter}}">{{vm.ontology.submitter}}</a>
      </span>
    </span>

    <div ng-if="vm.ontology.metadataSections">

      <div class="ont-DisclosurePanel-header"
           ng-init="mdCollapsed = true"
           ng-click="mdCollapsed = !mdCollapsed"
        >
        <a>
          <i ng-if="mdCollapsed" class="fa fa-caret-right"></i>
          <i ng-if="!mdCollapsed" class="fa fa-caret-down"></i>
          Metadata
        </a>
      </div>

      <div uib-collapse="mdCollapsed" style="margin-left: 20px">

        <uib-tabset style="width: 100%">

          <uib-tab ng-repeat="section in vm.ontology.metadataSections" style="cursor: pointer">
            <tab-heading uib-popover="{{section.tooltip}}" popover-trigger="mouseenter" popover-placement="right">
              {{section.label}}
            </tab-heading>

            <form class="form-horizontal uriBody">

              <table class="table table-bordered">
                <tbody>

                <tr ng-repeat="prop in getProps(section.propNames)">
                  <td class="mdLabel">
                  <span title="{{prop.predicate}}" ng-bind-html="prop.label">
                  </span>
                  </td>

                  <td class="ontContent">
                    <div ng-if="prop.value.length === 1"
                         ng-bind-html="prop.value">
                    </div>
                    <ul ng-if="prop.value.length > 1" style="padding-left: 10px">
                      <li ng-repeat="v in prop.value" style="padding-left: 0">
                      <span ng-bind-html="v">
                      </span>
                      </li>
                    </ul>
                  </td>

                </tr>

                </tbody>
              </table>

            </form>

          </uib-tab>

        </uib-tabset>
      </div>

    </div>

    <div class="ont-DisclosurePanel-header"
        ng-init="contentsCollapsed = false"
        ng-click="contentsCollapsed = !contentsCollapsed"
      >
      <a>
        <i ng-if="contentsCollapsed" class="fa fa-caret-right"></i>
        <i ng-if="!contentsCollapsed" class="fa fa-caret-down"></i>
        Contents
      </a>
    </div>

    <div uib-collapse="contentsCollapsed" style="margin-left: 20px">

      <div ng-if="vm.ontology.ontologyType === 'vocabulary'">
        <h3> Vocabulary </h3>
        <voc></voc>
      </div>

      <div ng-if="vm.ontology.ontologyType === 'mapping'">
        <h3> Mapping </h3>
        todo
      </div>

      <div ng-if="vm.ontology.ontologyType !== 'vocabulary' && vm.ontology.ontologyType !== 'mapping'">
        <h3> Other </h3>
        todo
      </div>
    </div>

  </div>

  <div ng-if="error">
    Error: {{error.error}}
  </div>

</div>
