<div style="background-color: #cfe3e6; width: 100%; text-align: center">
  Mapped ontologies
</div>

<div style="width: 100%">
  <table style="width: 100px; margin-left: auto; margin-right: auto">
    <tbody>
    <tr ng-repeat="moi in vm.mappedOntsInfo" style="white-space: nowrap">
      <td>
        <span ng-if="moi.loading">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </span>
        - <span ng-bind-html="moi.uri | mklinksOnlyExternal"></span>
        <span ng-if="moi.name"> - {{moi.name}} </span>
        <span ng-if="moi.version"
              style="color: gray; font-size: x-small">({{moi.version}})</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<div style="background-color: #cfe3e6; width: 100%; text-align: center">
  Mappings
  <span style="color: gray">
    ({{gridOptions.data.length}})
  </span>
</div>

<div class="ontGrid" ui-grid="gridOptions"></div>

<div ng-if="debug" >
  <pre class="debug" ng-bind="'ontData = ' +(ontData | json)"></pre>
  <pre class="debug" ng-bind="'vm = ' +(vm | json)"></pre>
</div>
