<div>
  <div class="ont-DisclosurePanel-header"
       ng-init="dataCollapsed = false"
       ng-click="dataCollapsed = !dataCollapsed"
  >
    <a style="font-size: large">
      <i ng-if="dataCollapsed" class="fa fa-caret-right"></i>
      <i ng-if="!dataCollapsed" class="fa fa-caret-down"></i>
      Data
    </a>
  </div>

  <div uib-collapse="dataCollapsed" style="margin-left: 20px">

    <div ng-if="debug" class="debug">
      <pre>editMode = {{editMode | json}}</pre>
      <pre>data = {{data | json}}</pre>
    </div>

    <div ng-if="format === 'v2r'">
      <v2r-data-viewer ng-if="!editMode" vocabs="data" uri="uri"
      ></v2r-data-viewer>

      <v2r-data-editor ng-if="editMode" vocabs="data" uri="uri"
      ></v2r-data-editor>
    </div>

    <div ng-if="format !== 'v2r'">
      <h3>Format '{{format}}' no handled yet</h3>
      <pre>data = {{data | json}}</pre>
    </div>

  </div>

</div>
