<div>

  <form class="form-horizontal uriBody">

    <table class="table table-bordered">
      <tbody>

      <tr ng-repeat="p in visiblePredicates">
        <td class="mdLabel">
            <span ng-if="editMode && p.required" style="color: red">*</span>
            <label ng-bind-html="p.label | mklinksOnlyExternal"
                  uib-popover="{{p.uri}}"
                  popover-trigger="mouseenter"
                  popover-placement="right"
            >
            </label>
        </td>

        <td>
          <div ng-if="!editMode">
            <div ng-if="meta[p.uri].length === 1"
                 ng-bind-html="meta[p.uri][0] | propValueFilter:p.uri">
            </div>
            <table ng-if="meta[p.uri].length > 1" class="table table-condensed transparent">
              <tr ng-repeat="v in meta[p.uri] track by $index">
                <td ng-bind-html="v | propValueFilter:p.uri">
                </td>
              </tr>
            </table>
          </div>

          <div ng-if="editMode">
            <orp-multivalue-edit prop-value="meta[p.uri]"
                                 disable-edit-if="someEditInProgress()"
                                 edit-in-progress="setEditInProgress(inProgress)"
            ></orp-multivalue-edit>

            <pre ng-if="debug">meta[{{p.uri}}] = {{meta[p.uri] | json}}</pre>

          </div>

        </td>

      </tr>

      </tbody>
    </table>

  </form>

  <div ng-if="debug" class="debug">
    <pre>meta = {{meta | json}}</pre>
    <pre>predicates = {{predicates | json}}</pre>
    <pre>visiblePredicates = {{visiblePredicates | json}}</pre>
  </div>

</div>
