<div>
  <div class="ont-DisclosurePanel-header"
       ng-init="dataCollapsed = false"
       ng-click="dataCollapsed = !dataCollapsed"
  >
    <a style="font-size: large">
      <i ng-if="dataCollapsed" class="fa fa-caret-right"></i>
      <i ng-if="!dataCollapsed" class="fa fa-caret-down"></i>
      Data
    </a>
  </div>

  <div uib-collapse="dataCollapsed" style="margin-left: 20px">

    <div ng-if="debug">
      <pre style="border-color: purple">ont-data data = {{data | json}}</pre>
    </div>

  </div>

</div>
