@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:700,400);


html, body {
    height: 100%;
}

body {
    margin: 5px;
}

.appLink {
  color: darkgray;
  font-size: small;
}

.effect1 {
    width: 100%;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0%, #EAF3FC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    /*border: 1px solid #ccf0ff;*/
}

.effect2 {
    background-image: linear-gradient(to bottom, #fff 0%, #f5fafd 3%, #f5fafd 97%, #fff 100%);
    background-repeat: repeat-x;
}

.ontGrid {
    width: 100%;
    height: 700px;
}

.testing {
    vertical-align: super;
    font-size: smaller;
    font-style: italic;
    color: #d59b99;
}

.urititle {
    padding: 8px;
    font-size: 2em;
    /*text-align: center;*/
    /*border: 1px solid #8cacbb;*/
    /*background-color: #ecf5fa;*/
}

div.orgtitle {
    padding: 8px;
    font-size: 2em;
}

div.usertitle {
    padding: 20px;
    font-size: 1.2em;
}

div.parent-status {
    position:absolute;
    top:2px;
    width:20em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 3px;
    padding-left: 8px;
}

table.mynav {
    border-collapse: collapse;
    border: 1px solid #e1f3fa;
}
table.mynav th {
    vertical-align: middle;
    background-color: #eff4f7;
}
table.mynav td {
    padding-left: 5px;
    background-color: #eff4f7;
}

input.search {
    font-size: small;
}

div.parent-status {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: 0;
    z-index: 999999;
}
.status {
    width: 4px;
    vertical-align: middle;
    height:4px;
    position: fixed;
    left: 50%;
    top: 10px;
    color: blue;
    margin: 0 auto;
    margin-left: -2px;
    margin-top: -2px;
    z-index: 999999;
}

.orrportal-lastRefresh {
    color: gray;
    font-size: small;
}

.orrportal-bold {
    font-weight: bold;
}

.ontClass tr:nth-child(even) {
    background-color: #fbfbfb;
}

.ontClass tr > th {
    padding-top: 1px !important;
    padding-bottom: 2px !important;
}
.ontClass tr > td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

/* trNgGrid sets "*-user-select: none" in general; why? */
.ontClass > tbody > tr > td,
.ontClass > tbody > tr > td > .tr-ng-cell {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.header-navbar {
    min-height: 0 !important;
    margin-bottom: 0;
}
.summaryClass  {
    /*width: inherit !important;*/
    width: 100%;
    margin-bottom: 0 !important;
}
.summaryClass > tfoot {
    visibility: hidden !important;
}
.summaryPositionsClass  {
    font-size: smaller;
}

.paddingNarrow {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.narrowEH {
    width: 5px;
    padding-left: 2px !important;
    padding-right: 2px !important;
    white-space: nowrap;
}
.narrowE {
    width: 5px;
    padding-left: 2px !important;
    padding-right: 2px !important;
    text-align: center !important;
    white-space: nowrap;
    font-size: smaller
}

.tr-ng-sort-inactive {
    color: lightgray;
}

input.globalFilter {
    width: 12em !important;
    height: 26px;
    padding-bottom: 0;
    padding-top: 0;
    font-weight: lighter;
}
input.pageSize {
    width: 4em !important;
    height: 26px;
    padding-bottom: 0;
    padding-top: 0;
    font-weight: lighter;
}

.navbar-text {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

div.mainBody {
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px #ccc;
    border-radius: 4px;
    border-style: solid;
    background-color: #eff4f7
}

div.facetblock {
    border: 1px #ccc;
    border-radius: 4px;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
div.facetsubblock {
    width: 100%;
    overflow: auto;
    overflow-x:hidden;"
}
.facetItem {
  font-weight: 200;
  width: 100%;
}
.facetItem:hover {
  background-color: #dff1fb;
}
.facetItemSelected {
    width: 100%;
    background-color: #d3d3d3;
}
.facetItemSelected {
    width: 100%;
    background-color: #d3d3d3;
}

.uriBody {
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #dee7ec;
    border-radius: 4px;
    background-color: #f5fafd
}

.mdLabel {
  width: 10px;
  white-space: nowrap;
  text-align: right;
  font-weight: 300;
}

.stInputSection {
  background: #f3faff;
  border: solid 1px #d3e4ea;
  border-radius: 8px;
  border-collapse: separate;
}

.querySource {
  text-align: left;
}

.stUriCol {
  width: 25% !important;
  max-width: 400px !important;
  min-width: 150px !important;
}
.stValCol {
  width: 50% !important;
  max-width: 50% !important;
}

.ontContent {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.uriLink {
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
  white-space: nowrap;
}

.ownerLink {
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
}

.center {
  text-align: center;
}
.uriText0 {
  font-size: large;
  font-family: 'Inconsolata', monospace;
  margin-bottom: 12px;
}
.uriText0:hover {
  background-color: #eaf8ff;
  border-radius:6px;
}
.uriText1 {
  font-size: large;
  font-family: 'Inconsolata', monospace;
}
.uriText1:hover {
  background-color: #eaf8ff;
  border-radius:6px;
}
.uriText {
  font-size: x-large;
  margin-left: 5px;
  padding-left: 10px;
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
}
.uriText:hover {
  background-color: #eaf8ff;
  border-radius:6px;
}
.uriTextSimple {
  font-family: 'Inconsolata', monospace;
  white-space: nowrap;
}
.uriTextSimple:hover {
  background-color: #eaf8ff;
}

.xsmall {
  font-size: x-small !important;
}

.fs-smaller {
  font-size: smaller !important;
}

.popover {
  max-width: 700px;
}

.vocGrid {
  width: 100%;
  height: 700px;
}

.ont-DisclosurePanel-header {
  width: 100%;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
  background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
  background-color:#f6f6f6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  display:inline-block;
  color:#666666;
  padding:4px 4px;
}
.ont-DisclosurePanel-header:hover {
  cursor: pointer;
  font-weight:bold;
}

.regtype {
  padding: 5px;
  border-radius:6px
}
.regtype:hover {
  background-color: #dddddd;
}
.regtype-selected {
  background-color: #beddd9;
}
.regtype-selected:hover {
  background-color: #a4d6dd;
}

.uriLabel {
  color: gray;
  text-align: right;
  padding-right: 1em;
  vertical-align: middle
}


.editable-textarea {
  width: 100% !important;
}

.bold {
  font-weight: bold !important;
}
.regularFont {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.borderTop0 {
  border-top-width: 0 !important;
}

.v2rTable {
  border-top-color: white !important;
}
.v2rHeaderRow {
  background-image: linear-gradient(to bottom, #fff 0%, #EAF3FC 100%);
  background-repeat: repeat-x;
  border-color: white !important;
}
.v2rTermColHeaderCell {
  background-color: white !important;
}

.v2rTermName {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  cursor: pointer;
}
.v2rTermName:hover {
  background-color: #eaf8ff;
}

.v2rTermBg {
  background-image: linear-gradient(to left, #fff 0%, #EAF3FC 100%);
  background-repeat: repeat-y;
  min-width: 200px;
}

.v2rCsvContents {
  font-family: 'Inconsolata', monospace;
}

.editable-controls {
  margin: 0 !important;
}

div.debug {
  background-color: #f1d085;
  border-radius: 5px;
  padding: 3px;
}

.cell-editing {
  background-color: #fbeacb !important;
}
.transparent {
  background-color: transparent !important;
}

.table {
  margin-bottom: 0 !important;
}

.kwLink {
  background-color: transparent;
  text-decoration: underline;
}
.kwLink:hover {
  border-color: darkgreen;
}

.m2rRelHeader {
  text-align: center;
}
.m2rRelSymbol {
  font-weight: bold;
  cursor: pointer;
}

.m2rPredPrefix {
  color: #a1a1a1;
  font-weight: 100;
}

.m2rUriSelect {
  max-height: 400px;
  overflow-y: auto;
  border-radius:6px;
}

.m2rMappingSide {
  border-radius: 8px;
  border-color: #2b542c;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  width: 100%;
  height: 500px
}

.m2rMappingSideGrid {
  width: 1000px;
  height: 450px;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.uriVersionSelect {
  max-height: 400px;
  overflow-y: auto;
  border-radius:6px;
}

.simpleLabel {
  font-weight: 200 !important;
}

.uriNotFound {
  color: darkred;
  font-size: large;
}

.vocabTermSelection {
  height: 300px;
  overflow: scroll;
  overflow-y: auto;
}

.yourTesting {
  font-weight: 300 !important;
  border-radius: 1em;
  padding-left: 14px;
  padding-right: 10px;
  cursor: pointer;
}
