<div style="width: 100%" tooltip="Organization page minimally implemented">

    <br/>

    <div class="effect1">
        <span style="font-size: large">
            <span style="color: gray">
                Organization:
            </span>
            <span style="font-weight: bold">
                {{orgName}}
            </span>
        </span>
    </div>

    <form ng-show="org" class="form-horizontal uriBody">

        <div class="form-group" ng-show="org.name">
            <label class="col-xs-2"> Name: </label>
            <div class="col-xs-4" ng-bind-html="org.name"></div>
        </div>

        <div class="form-group" ng-show="org.registered">
            <label class="col-xs-2"> Registered: </label>
            <div class="col-xs-4"> {{org.registered}} </div>
        </div>

        <div class="form-group"ng-show="org.members">
            <label class="col-xs-2"> Members: </label>
            <div class="col-xs-4">
                <span ng-repeat="userName in org.members | orderBy">
                    <a ng-href="#/user/{{userName}}">{{userName}}</a>
                </span>
            </div>
        </div>

    </form>

    <div ng-show="error">
        Error: {{error.error}} <br/>
    </div>

</div>
