<div style="width: 100%">
  <h4>
    Term search
  </h4>

  <div style="margin-left: 20px">
    <p>
      Search applied on the attribute values of the semantic entities in the triple store.
    </p>

    <table class="stInputSection" style="width: 100%">
      <tbody>
      <tr>
        <td>
          <table style="margin: 6px">
            <tbody>
            <tr>
              <td>
                <label style="margin-right: 6px">
                  Find terms containing:
                </label>
              </td>
              <td>
                <div style="display: inline-block; position: relative"
                >
                  <input type="text" class="search form-control" style="width: 300px"
                         ng-model="vm.st" ng-keypress="searchKeyPressed($event)"
                         ng-change="filterData()"
                         focus-on="stStringInput_form_activation"
                         uib-popover="Use `|' (vertical line character) to separate alternative strings. Press Enter to capture search in URL and perform search"
                         popover-placement="bottom"
                         popover-trigger="mouseenter"
                  >
                  <span style="position: absolute; top: 5px; right: 5px"
                        ng-show="!!vm.st"
                        ng-click="clearSearch()">
                    <span class="fa fa-times"></span>
                </span>
                </div>

              </td>
              <td>
                <div class="btn btn-default btn-xs" ng-click="searchButtonClicked()"
                     style="margin-left: 5px"
                     uib-popover="Capture search in URL and perform search"
                     popover-placement="bottom"
                     popover-trigger="mouseenter"
                >
                  <span class="fa fa-search"></span>
                </div>
              </td>
              <td>
                <div ng-show="vm.querySource" style="margin-left: 5px">
                  <div style="width: 10em;"
                       ng-mouseenter="vm._showQuerySourcePopup=true" ng-mouseleave="vm._showQuerySourcePopup=undefined"
                  >
                    <script type="text/ng-template" id="stQuerySourcePopup.html">
                      <div ng-mouseleave="vm._showQuerySourcePopup=undefined"
                           class="querySource">
                        <span style="color: gray">
                          Corresponding SPARQL query &nbsp;&nbsp;
                          <clipboard-copy text="vm.querySource"></clipboard-copy>
                        </span>
                        <pre ng-bind="vm.querySource"></pre>
                      </div>
                    </script>
                    <label uib-popover-template="'stQuerySourcePopup.html'"
                           popover-placement="right"
                           popover-is-open="vm._showQuerySourcePopup"
                    >
                      <span style="color: gray; font-variant: small-caps">sparql</span>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <br/>

  <div ng-if="vm.gotResults">
    Result:
  </div>

  <div ng-if="items && items.length">
    <items-viewer column-defs="columnDefs" items="items"></items-viewer>
  </div>

  <div ng-if="vm.gotResults && !vm.searching && (!items || items.length === 0)"
       style="color: peru">
    No terms found
  </div>

  <div ng-if="vm.searching">
    <span class="fa fa-spinner fa-spin fa-lg"></span>
    Searching. Please wait ...
  </div>

  <pre ng-if="vm.error" ng-bind="vm.error" style="color: darkred; font-family: monospace">
  </pre>

</div>
