<div style="margin-bottom: 20px; width: 100%">
  <table style="width: 100%">
    <tbody>
    <tr class="effect1">
      <td style="width: 5px">
        <span title="Go to main page" style="vertical-align: middle">
          <a ng-if="rvm.rUri" ng-href="{{cfg.portal.mainPage}}">
            <img ng-src="{{cfg.branding.logo || 'img/mmi-orr3-logo.png'}}"></a>
          <a ng-if="!rvm.rUri" ui-sref="/">
            <img ng-src="{{cfg.branding.logo || 'img/mmi-orr3-logo.png'}}"></a>
        </span>

      </td>

      <td style="vertical-align: top">
        <table>
          <tbody>
          <tr>
            <td style="vertical-align: top">
            <span>
              <span>
                <a target="_blank" class="btn btn-sm btn-link appLink"
                   ng-href="{{cfg.changes}}">v@@version</a>
              </span>

              <span ng-if="cfg.help">
                <a target="_blank" class="btn btn-sm btn-link appLink"
                   ng-href="{{cfg.help}}">Help</a>
              </span>
              <span ng-if="cfg.branding.tou">
                <a target="_blank" class="btn btn-sm btn-link appLink"
                   ng-href="{{cfg.branding.tou}}">Terms of use</a>
              </span>
              <span ng-if="cfg.branding.contactUs">
                <a target="_blank" class="btn btn-sm btn-link appLink"
                   ng-href="{{cfg.branding.contactUs}}">Contact us</a>
              </span>
            </span>
            </td>
          </tr>
          <tr>
            <td>
            <span ng-if="rvm.curView !== 'home'">
              <a ng-if="rvm.rUri" ng-href="{{cfg.portal.mainPage}}" class="btn btn-sm btn-link">Home</a>
              <a ng-if="!rvm.rUri" ui-sref="/" class="btn btn-sm btn-link">Home</a>
            </span>
            <span ng-if="rvm.curView !== 'st'">
              <a ng-href="{{cfg.portal.mainPage}}#/st/" class="btn btn-sm btn-link">Term Search</a>
            </span>
            <a href="sparql" class="btn btn-sm btn-link">SPARQL Search</a>
            </td>
          </tr>
          </tbody>
        </table>

      </td>

      <td style="vertical-align: top">
        <orrportal-log-button></orrportal-log-button>
      </td>

    </tr>
    </tbody>
  </table>

  <div>
    <div class="parent-status" ng-show="refreshing">
      <div class="status">
        <span class="fa fa-spinner fa-spin fa-lg"></span>
      </div>
      <!--
      <alert class="alert-info status" role="alert" type="'info'">
          <span class="fa fa-spinner fa-spin"></span>
      </alert>
      -->
    </div>
  </div>
</div>
