<div style="width: 100%">

    <br/>

    <div class="effect1">
        <span style="font-size: large">
            <span style="color: gray">
                {{userName}} -
            </span>
            <span style="font-weight: bold">
                {{user.firstName}} {{user.lastName}}
            </span>
        </span>
    </div>

    <form ng-show="user" class="form-horizontal uriBody">

        <div class="form-group" ng-show="user.email">
            <label class="col-xs-2"> Email: </label>
            <div class="col-xs-4" ng-bind-html="user.email"></div>
        </div>

        <div class="form-group" ng-show="user.ontUri">
            <label class="col-xs-2"> RDF: </label>
            <div class="col-xs-4"> {{user.ontUri}} </div>
        </div>

        <div class="form-group"ng-show="user.phone">
            <label class="col-xs-2"> Phone: </label>
            <div class="col-xs-4"> {{user.phone}} </div>
        </div>

        <div class="form-group"ng-show="user.registered">
            <label class="col-xs-2"> Registered: </label>
            <div class="col-xs-4"> {{user.registered}} </div>
        </div>

        <div class="form-group"ng-show="user.updated">
            <label class="col-xs-2"> Updated: </label>
            <div class="col-xs-4"> {{user.updated}} </div>
        </div>

    </form>

    <div ng-show="error">
        Error: {{error.error}} <br/>
    </div>

</div>
