<div ng-if="error">
  <pre style="border-color: red">{{error | json}}</pre>
</div>

<div ng-if="debug" class="debug">
  <pre>vm = {{vm | json}}</pre>
</div>


<div ng-if="vm.resolving">
  <span class="fa fa-spinner fa-spin fa-lg"></span>
  Resolving {{vm.uri}} ...
</div>

<div ng-if="vm.resolved">
  <div ng-if="vm.ontology">
    <orr-ont></orr-ont>
  </div>

  <div ng-if="vm.term">
    <orr-term></orr-term>
  </div>

  <div ng-if="!vm.ontology && !vm.term" style="margin: 30px">

    <div class="uriNotFound">
      <div ng-if="vm.couldTryExternalResolution">
        <a ng-href="{{vm.uri}}" ng-bind="vm.uri">
        </a>
      </div>

      <div ng-if="!vm.couldTryExternalResolution">
        {{vm.uri}}
      </div>
    </div>

    <div style="margin-top: 10px; margin-left: 20px">
      <div style="color: darkred; font-size: large">
        URI not found
      </div>

      <ul style="color: darkgray; margin: 10px">
        <li>No ontology registered with this URI</li>
        <li>No subject in the triple store with this URI</li>
      </ul>
    </div>


  </div>
</div>
