<div ng-if="gridApi"
     type="button" class="btn btn-default btn-xs"
     ng-model="vm.allowGrouping" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
     uib-popover="Enable/disable grouping feature (experimental)"
     popover-trigger="mouseenter"
     popover-placement="right"
>Grouping
</div>

<div ng-if="!gridApi || !vm.allowGrouping" class="ontGrid" ui-grid="gridOptions" ></div>
<div ng-if="gridApi && vm.allowGrouping"   class="ontGrid" ui-grid="gridOptions" ui-grid-grouping></div>
