<div class="btn-group" uib-dropdown>
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
    View/download as <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="vao in vm.options" ng-class="{'divider': vao.divider}">
      <a ng-if="!vao.divider"
         target="_blank" rel="noopener" ng-href="{{vao.url}}"
         uib-tooltip="{{vao.tooltip}}"
         tooltip-placement="top"
      >
        {{vao.label}}
        <span ng-if="vao.includeExternalLinkIcon" style="font-size: smaller">
          <i class="fa fa-external-link"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
