<div ng-if="error">
  <pre style="border-color: red">{{error | json}}</pre>
</div>

<div ng-if="debug" class="debug">
  <pre>vm = {{vm | json}}</pre>
</div>

<div class="effect1">
  <span class="uriText">{{vm.uri}}</span>

  <clipboard-copy text="vm.uri" tooltip="'Copy term IRI to clipboard'"
  ></clipboard-copy>

  <view-as-options options="viewAsOptions"
  ></view-as-options>
</div>

<div style="margin: 20px">

  <span class="urititle" ng-bind="localName">
  </span>

  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th ng-repeat="name in vm.term.names">
        <span ng-bind="name"></span>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="row in vm.term.values">
      <td>
        <span ng-bind-html="row[0] | mklink4uriWithSelfHostPrefix"></span>
      </td>
      <td>
        <span ng-bind-html="row[1] | mklinks"></span>
      </td>

    </tr>
    </tbody>
  </table>

</div>
