<!DOCTYPE html>
<html ng-app="orrportal">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title ng-bind="(rvm.rUri ? (rvm.rUri + (rvm.rVersion ? ' version=' +rvm.rVersion : '') + ' - ') : '') + (cfg.branding.title||'') + ' (portal @@version)'"></title>
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel='stylesheet' href='css/orrportal.min.css'>
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src='js/config.js'></script>
  <script src='js/local.config.js'></script>
  <script src="js/orrportal.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
</head>
<body ng-controller="UtilCtrl">
<orrportal-header></orrportal-header>
<div ng-if="rvm.rUri">
  <orr-uri></orr-uri>
</div>
<div ng-if="!rvm.rUri">
  <div ui-view></div>
</div>
<pre ng-if="debug" ng-bind="rvm|json"></pre>
<noscript>
  <div class="noscript">
    The ORR application requires Javascript to be enabled in your browser.
  </div>
</noscript>
</body>
</html>
