<!DOCTYPE html>
<html ng-app="orrportal">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title ng-bind="rUri || 'ORR Portal @@version'"></title>
  <link rel="shortcut icon" href="img/favicon.ico">

  <link rel="stylesheet" href="vendor/bootstrap-css-only/css/bootstrap.css">
  <link rel="stylesheet" href="vendor/bootstrap-css-only/css/bootstrap-theme.css">
  <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css">

  <link rel="stylesheet" href="vendor/angular-ui-grid/ui-grid.css">
  <link rel="stylesheet" href="vendor/ui-select/dist/select.css">
  <link rel="stylesheet" href="vendor/angular-xeditable/dist/css/xeditable.css">
  <link rel='stylesheet' href='css/orrportal.css'>

  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="vendor/angular/angular.js"></script>
  <script src='vendor/angular-cookie/angular-cookie.js'></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
  <script src="vendor/angular-route/angular-route.js"></script>
  <script src="vendor/angular-clipboard/angular-clipboard.js"></script>
  <script src="vendor/lodash/dist/lodash.js"></script>
  <script src="vendor/moment/moment.js"></script>
  <script src='vendor/angular-ui-grid/ui-grid.js'></script>
  <script src='vendor/ng-file-upload/ng-file-upload.js'></script>
  <script src='vendor/ui-select/dist/select.js'></script>
  <script src='vendor/angular-xeditable/dist/js/xeditable.js'></script>

  <script src="//cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

  <script src='js/config.js'></script>
  <script src='js/local.config.js'></script>
  <script src='js/util.js'></script>
  <script src='js/app.js'></script>
  <script src='js/main/directives.js'></script>
  <script src='js/main/filters.js'></script>
  <script src='js/main/services.js'></script>
  <script src='js/main/controllers.js'></script>
  <script src='js/facet/facetModel.js'></script>
  <script src='js/facet/controllers.js'></script>
  <script src='js/facet/directives.js'></script>
  <script src='js/ontgrid/ontgrid.js'></script>
  <script src='js/org/org.js'></script>
  <script src='js/vocabulary/vocabulary.js'></script>
  <script src='js/uri/multivalueedit.js'></script>
  <script src='js/uri/uri-directives.js'></script>
  <script src='js/uri/uri.js'></script>
  <script src='js/user/user.js'></script>
  <script src='js/st/st.js'></script>
  <script src='js/kw/kw.js'></script>
  <script src='js/v2r/v2r.js'></script>
  <script src='js/voc/voc.js'></script>
  <script src='js/fireauth/controllers.js'></script>
  <script src='js/upload/upload.js'></script>
  <script src='js/util/util.js'></script>
</head>

<body ng-controller="UtilCtrl">

<orrportal-header></orrportal-header>

<!--
<div ng-if="!rUri">
  <orrmain></orrmain>
</div>
<div ng-if="rUri">
  <orruri></orruri>
</div>
-->

<div ng-view></div>

<pre ng-if="debug" ng-bind="rvm | json"></pre>
</body>
</html>
