<form ng-show="org" class="form-horizontal uriBody">

  <div class="form-group">
    <label class="control-label col-xs-2">
      Name:
    </label>
    <div class="col-xs-6" style="display: block;padding: 6px 12px;font-size: 14px;"
         ng-bind="org.name"
    ></div>
  </div>

  <div class="form-group" ng-if="org.url">
    <label class="control-label col-xs-2">
      URL:
    </label>
    <div class="col-xs-6" style="display: block;padding: 6px 12px;font-size: 14px;">
      <a target="_blank" ng-href="{{org.url}}" ng-bind="org.url"></a>
    </div>
  </div>

  <div class="form-group" ng-if="org.members">
    <label class="control-label col-xs-2">
      Members:
    </label>
    <div class="col-xs-6" style="display: block;padding: 6px 12px;font-size: 14px;">
      <span ng-repeat="userName in org.members | orderBy">
          <a ng-href="#/user/{{userName}}">{{userName}}</a>
          &nbsp;
      </span>
    </div>
  </div>

  <div class="form-group" ng-if="org.registered">
    <label class="control-label col-xs-2">
      Registered:
    </label>
    <div class="col-xs-6" style="display: block;padding: 6px 12px;font-size: 14px;">
      {{org.registered}}
      <span ng-if="org.registeredBy">(by {{org.registeredBy}})</span>
    </div>
  </div>

  <div class="form-group" ng-if="org.updated">
    <label class="control-label col-xs-2">
      Updated:
    </label>
    <div class="col-xs-6" style="display: block;padding: 6px 12px;font-size: 14px;">
      {{org.updated}}
      <span ng-if="org.updatedBy">(by {{org.updatedBy}})</span>
    </div>
  </div>

</form>

<div ng-if="org.onts" style="margin-bottom: 12px">
  <h5>Ontologies</h5>

  <table ng-if="org.onts" class="table table-bordered table-hover table-condensed">
    <thead>
    <tr class="effect2">
      <th>URI</th>
      <th>Name</th>
      <th>Author</th>
      <th>Version</th>
    </tr>
    </thead>
    <tr ng-repeat="ont in org.onts">
      <td ng-bind-html="ont.uri | mklink4uriWithSelfHostPrefix"></td>
      <td ng-bind-html="ont | mkMarks"></td>
      <td ng-bind-html="ont.author | mklinksOnlyExternal"></td>
      <td ng-bind="ont.version" style="color: gray"></td>
    </tr>
    <tbody>
    </tbody>
  </table>
</div>
<pre ng-if="debug">{{org | json}}</pre>
