<div style="margin-left: 20px; margin-right: 20px">
  <br/>

  <div class="effect1">
    <span style="font-size: large">
        <span style="color: gray">
            Organization:
        </span>
        <span style="font-weight: bold">
            {{orgName}}
        </span>
    </span>

    <button ng-if="!editMode && canEditOrg()"
            ng-click="startOrgEdit()"
            type="button" class="btn btn-default btn-xs">
      Edit
    </button>

    <span ng-if="editMode">
      <button ng-disabled="orgEditInProgress"
              ng-click="updateOrg()"
              class="btn btn-info btn-xs">
        Save
      </button>

      <button ng-click="cancelEditOrg()"
              class="btn btn-info btn-xs">
        Cancel
      </button>
    </span>
  </div>


  <orr-org-view ng-if="!editMode"
  ></orr-org-view>

  <orr-org-edit ng-if="editMode"
  ></orr-org-edit>

  <div ng-show="error">
    Error: {{error.error}} <br/>
  </div>

</div>
