<div style="display: inline-block; vertical-align: top; width:95%; margin: 10px; margin-top: 20px">
  <div class="panel panel-default">

    <div class="panel-heading" ng-bind="vm.title">
    </div>

    <div class="panel-body">

      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-12">
            <p style="color: gray; font-size: small">
              Select the separator character, enter or paste the new contents in the text area,
              and click the Import button to update the table.
              Except for the very first one (which should be blank) the cells in the first line
              determine the vocabulary properties.
              The other lines define the terms and associated property values.
            </p>

            <div class="center">
              Field separator:
              <span ng-repeat="sep in vm.separators">
                <div class="btn btn-default btn-xs" ng-model="vm.separator" uib-btn-radio="sep.value">{{sep.label}}</div>
                &nbsp;
              </span>
            </div>

            <textarea id="inputCsvString"
                      style="width: 100%"
                      rows="12"
                      class="form-control v2rCsvContents"
                      ng-model="vm.csvString"
                      placeholder="Enter or paste CSV contents (click the Example button to insert a simple example with the currently selected separator)"
                      focus-on="inputCsvString_form_activation"
            ></textarea>
          </div>

        </div>

      </form>

    </div>

    <div class="panel-footer">

      <div>
        <label class="col-xs-1"> </label>
        <button class="btn btn-primary btn-sm"
                ng-disabled="!csvImportFormOk()"
                ng-click="acceptCsvContents()"
        >Import
        </button>

        <button class="btn btn-info btn-sm"
                ng-click="insertCsvExample()"
                uib-tooltip="Inserts an example. Trailing spaces in cells not required but added for clarity."
        >Example
        </button>

        <button class="btn btn-default btn-sm"
                ng-click="cancelCsvImport()"
                ng-disabled="vm.working"
        >Cancel
        </button>
      </div>

    </div>
  </div>
</div>
