<div ng-if="vm.vocabs.length === 0"
>
  No vocabularies are defined.
</div>

<uib-tabset ng-if="vm.vocabs.length" style="width: 100%">

  <uib-tab ng-repeat="vocab in vm.vocabs track by $index" ng-init="v_index=$index"
           style="cursor: pointer">

    <script type="text/ng-template" id="v2rClassTabPopup.html">
      <div ng-mouseleave="vocab._showPopup=undefined" class="left">
        Class: {{vm.getLabel(vocab.class)}}
        <div style="white-space: nowrap">
          <a target="_blank" class="uriLink"
             ng-bind="vm.getUri(vocab.class)"
             ng-click="vm.openLink(vm.getUri(vocab.class))"
          >
          </a>
          <clipboard-copy text="vm.getUri(vocab.class)"
          ></clipboard-copy>
        </div>
      </div>
    </script>

    <uib-tab-heading ng-mouseleave="vocab._showPopup=undefined">

      <table>
        <tbody>
        <tr>
          <td>
            <div uib-popover-template="'v2rClassTabPopup.html'"
                 popover-placement="top-left"
                 popover-is-open="vocab._showPopup"
                 ng-mouseenter="vocab._showPopup=true"
                 style="margin-right: 10px"
            >
              <span class="regularFont bold" ng-bind="vm.getName(vocab.class)"></span>
            </div>
          </td>
          <td>
            <div class="btn-group" uib-dropdown>
              <div type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href ng-bind="vm.vocabMenu.EXPORT_CSV.label" ng-click="vm.vocabMenu.EXPORT_CSV.handler(v_index)"></a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </uib-tab-heading>


    <table class="table table-bordered v2rTable">
      <thead>
      <tr class="v2rHeaderRow">

        <th style="width: 5%;" class="v2rTermColHeaderCell"></th>

        <th ng-repeat="p in vocab.properties"
            ng-mouseenter="p._showPopup=true" ng-mouseleave="p._showPopup=undefined"
        >
          <script type="text/ng-template" id="v2rTermPropertyPopup.html">
            <div ng-mouseleave="p._showPopup=undefined">
              <span style="font-weight: bold" ng-bind="vm.getPrefixed(p)"></span>
              <span ng-if="vm.getTooltip(p)">
                <br>{{vm.getTooltip(p)}}
              </span>
              <br>
              <a target="_blank" class="uriLink"
                 ng-href="{{vm.getUri(p)}}"
                 ng-bind="vm.getUri(p)"
              >
              </a>
              <clipboard-copy text="vm.getUri(p)"
              ></clipboard-copy>
            </div>
          </script>

          <div>
            <span uib-popover-template="'v2rTermPropertyPopup.html'"
                  popover-placement="top"
                  popover-is-open="p._showPopup">
              {{vm.getLabel(p)}}
            </span>
          </div>

        </th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="t in vocab.terms">

        <td style="width: 5%"
            class="v2rTermBg"
            ng-mouseenter="t._showPopup=true" ng-mouseleave="t._showPopup=undefined">

          <script type="text/ng-template" id="v2rTermUriPopup.html">
            <div ng-mouseleave="t._showPopup=undefined" class="left">
              Term&nbsp;URI:
              <br>
              <a target="_blank" class="uriLink"
                 ng-href="{{vm.getUri(t)}}"
                 ng-bind="vm.getUri(t)"
              ></a>
              <clipboard-copy text="vm.getUri(t)"
              ></clipboard-copy>
            </div>
          </script>

          <span uib-popover-template="'v2rTermUriPopup.html'"
                popover-is-open="t._showPopup"
                popover-placement="bottom-left"
                class="v2rTermName">
            {{vm.getName(t)}}
          </span>

        </td>

        <td ng-repeat="a in t.attributes track by $index">
          <span ng-if="vm.singleAttrValue(a)"
                ng-bind-html="vm.singleAttrValue(a) | mklinksOnlyExternal">
          </span>

          <table ng-if="vm.multipleAttrValues(a)"
                 class="table table-condensed table-hover">
            <tr ng-repeat="b in vm.multipleAttrValues(a) track by $index">
              <td ng-bind-html="b | mklinksOnlyExternal">
              </td>
            </tr>
          </table>
        </td>

      </tr>
      </tbody>
    </table>

  </uib-tab>

</uib-tabset>
