<div class="panel panel-default">

    <div class="panel-heading">
      <div>
        <div style="float: left">
          <label>
            Registration type: Re-hosted ontology
          </label>
          <p>
            The ontology will be registered at the ORR with no changes at all in IRIs or contents.
          </p>
        </div>

        <div style="float: right">

          <button ng-click="backPage('select-regtype')"
                  class="btn btn-primary btn-sm">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
          </button>

        </div>

        <div style="clear:both;"></div>
      </div>
    </div>

    <div class="panel-body">

      <form name="myForm" class="form-horizontal">

        <div class="form-group" ng-if="vm.checkedNewUriIsAvailable">
          <label class="control-label col-xs-2"> </label>
          <div class="col-xs-6">
            <span ng-if="vm.newUriIsAvailable" style="color: darkgreen; font-style: italic">
              A brand new ontology entry by the indicated original IRI will be registered.
            </span>
            <span ng-if="!vm.newUriIsAvailable" style="color: darkblue; font-style: italic">
              The indicated IRI is already registered so a new ontology
              <span style="text-decoration: underline">version</span>
              will be created for the existing entry.
            </span>
          </div>
        </div>

        <hr class="thinHr">

        <div class="form-group">
          <p class="col-xs-12">
            Select the owner of this submission, provide
            a short name, desired visibility, and an associated status for this ontology.
            Then click the 'Complete registration' button.
          </p>
        </div>

        <hr class="thinHr">

        <div class="form-group">
          <label for="inputOrgName" class="control-label col-xs-2">
            Owner:
          </label>

          <div class="col-xs-4">

            <label ng-if="vm.knownOwner" ng-bind="vm.knownOwner" class="form-control">
            </label>

            <div ng-if="!vm.knownOwner">
              <ui-select ng-model="vm.selectedOwner" id="inputOrgName">
                <ui-select-match placeholder="Select owner">
                  <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.ownerOptions | filter: $select.search) track by item.id">
                  <span ng-bind="item.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>

          </div>
        </div>

        <hr class="thinHr">

        <div ng-if="vm.userCanRegisterNewVersion">
          <div class="form-group" ng-if="vm.checkedNewUriIsAvailable">
            <label for="inputName" class="control-label col-xs-2">
              Ontology name:
            </label>

            <div class="col-xs-8">
              <input id="inputName"
                     type="text"
                     class="form-control"
                     ng-model="vm.name"
                     name="name"
                     placeholder="A short description of the ontology"
                     required>
            </div>
          </div>

          <div class="form-group" ng-if="vm.checkedNewUriIsAvailable && vm.possibleOntologyNames">
            <label class="col-xs-2"> </label>

            <div class="col-xs-10">
              <div style="color: gray">
                Name(s) found in the contents of the file:
              </div>

              <table class="table table-bordered table-condensed" style="width: initial">
                <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Explanation</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(n, propUris) in vm.possibleOntologyNames">
                  <td style="width: 5px">
                    <button class="btn btn-info btn-xs"
                            ng-click="vm.name = n"
                            uib-tooltip="Select this name for the ontology"
                            tooltip-placement="right"
                    >
                      Select
                    </button>
                  </td>
                  <td>
                    <span ng-bind="n">
                    </span>
                  </td>
                  <td>
                    <ul style="margin-left: 20px; padding-left: 0;">
                      <li ng-repeat="propUri in propUris">
                      <span style="color:gray; font-weight: 200">
                        Value of property: {{propUri}}
                      </span>
                      </li>
                    </ul>
                  </td>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div ng-if="vm.checkedNewUriIsAvailable">
            <hr class="thinHr">
            <select-visibility></select-visibility>

            <hr class="thinHr">
            <select-status></select-status>
          </div>

          <div class="form-group">
            <div class="form-group">
              <label class="col-xs-2"> </label>
              <button ng-disabled="!okToRegisterRehosted()"
                      ng-click="doRegisterRehosted()"
                      class="btn btn-primary btn-sm">
                Complete registration
              </button>
            </div>
          </div>

        </div>

        <div ng-if="!vm.userCanRegisterNewVersion">
          <label class="control-label col-xs-2"> </label>
          <div class="col-xs-6" style="color: darkred">
            You are not authorized to submit on behalf of the owner of this IRI.
          </div>
        </div>

      </form>

    </div>
  </div>
