<div class="panel panel-default">

  <div class="panel-heading">
    <div>
      <div style="float: left; font-weight: bold">
        Upload ontology
      </div>

      <div style="float: right">

        <button ng-disabled="!vm.uploadResponse || !vm.originalUri"
                ng-click="nextPage('uri-confirmed')"
                class="btn btn-primary btn-sm">
          Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>

      </div>

      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="panel-body">

    <form name="myForm" class="form-horizontal">

      <p style="color: gray; margin-bottom: 20px">
        File formats recognized by the ORR include:
        <a target="_blank" rel="noopener" href="https://www.w3.org/TR/REC-rdf-syntax/">RDF/XML</a>,
        <a target="_blank" rel="noopener" href="https://www.w3.org/TR/json-ld/">JSON-LD</a>,
        <a target="_blank" rel="noopener" href="https://www.w3.org/TeamSubmission/n3/">Notation3</a>,
        <a target="_blank" rel="noopener" href="https://www.w3.org/TR/n-triples/">N-Triples</a>,
        <a target="_blank" rel="noopener" href="https://www.w3.org/TeamSubmission/turtle/">Turtle</a>,
        <a target="_blank" rel="noopener" href="https://www.w3.org/TR/owl-xml-serialization/">OWL/XML</a>,
        <a target="_blank" rel="noopener" href="https://www.w3.org/TR/rdf-json/">RDF/JSON</a>.
      </p>

      <div style="margin-left:20px">
        <label>I will upload:</label>
        &nbsp;
        <label style="font-weight: normal; padding: 6px"
               class="{{vm.fileOrUrl==='uploadFile' ? 'background-selected' : ''}}">
          <input type="radio" ng-model="vm.fileOrUrl" value="uploadFile">
          A local file
        </label>
        &nbsp;&nbsp;
        <label style="font-weight: normal; padding: 6px"
               class="{{vm.fileOrUrl==='uploadUrl' ? 'background-selected' : ''}}">
          <input type="radio" ng-model="vm.fileOrUrl" value="uploadUrl">
          A remote URL
        </label>
      </div>

      <hr>

      <div ng-if="vm.fileOrUrl === 'uploadFile'">
        <orrportal-upload-file></orrportal-upload-file>
      </div>

      <div ng-if="vm.fileOrUrl === 'uploadUrl'">
        <orrportal-upload-url></orrportal-upload-url>
      </div>

    </form>
  </div>
</div>

<pre ng-if="debug">{{vm | json}}</pre>
