<div class="panel panel-default">

  <div class="panel-heading">
    <div>
      <div style="float: left; font-weight: bold">
        Upload ontology file
      </div>

      <div style="float: right">

        <button ng-disabled="!vm.uploadResponse || !vm.originalUri"
                ng-click="nextPage('uri-confirmed')"
                class="btn btn-primary btn-sm">
          Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>

      </div>

      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="panel-body">

    <form name="myForm" class="form-horizontal">

      <p ng-if="!vm.uploadResponse"
         style="color: gray; margin-bottom: 20px">
        Select the local file you want to upload and click the 'Upload file' button.
        File formats recognized by the ORR include:
        <a target="_blank" href="https://www.w3.org/TR/REC-rdf-syntax/">RDF/XML</a>,
        <a target="_blank" href="https://www.w3.org/TR/rdf-json/">RDF/JSON</a>,
        <a target="_blank" href="https://www.w3.org/TR/json-ld/">JSON-LD</a>,
        <a target="_blank" href="https://www.w3.org/TeamSubmission/n3/">Notation3</a>,
        <a target="_blank" href="https://www.w3.org/TR/n-triples/">N-Triples</a>,
        <a target="_blank" href="https://www.w3.org/TeamSubmission/turtle/">Turtle</a>,
        <a target="_blank" href="https://www.w3.org/TR/owl-xml-serialization/">OWL/XML</a>.
      </p>

      <div class="form-group">
        <label for="inputFile" class="control-label col-xs-2">
          Ontology file:
        </label>

        <div class="col-xs-4">
          <label ng-if="vm.uploadResponse"
                 ng-bind="vm.uploadResponse.origFilename"
                 class="form-control">
          </label>
          <input ng-if="!vm.uploadResponse"
                 id="inputFile"
                 type="file"
                 class="form-control"
                 style="font-weight: bold"
                 ngf-select
                 ng-model="vm.file"
                 name="file"
                 accept="*/*"
                 ngf-max-size="{{vm.maxUploadSize}}" required
                 ngf-model-invalid="vm.errorFile">
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">
          <i ng-show="myForm.file.$error.maxSize" style="color: red">
            File too large: {{vm.errorFile.size / 1000000|number:1}}MB
            (max is {{vm.maxUploadSize}})
          </i>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2"> </label>
        <button ng-if="vm.uploadResponse"
                ng-click="uploadAnotherFile()"
                class="btn btn-primary btn-sm">
          Upload another file
        </button>
        <button ng-if="!vm.uploadResponse"
                ng-disabled="!myForm.$valid"
                ng-click="doUpload(vm.file)"
                class="btn btn-primary btn-sm">
          Upload file
        </button>
      </div>

      <div class="progress" ng-show="vm.progressPercentage >= 0">
        <div style="width:{{vm.progressPercentage}}%; background-color: #dbdbdb"
             ng-bind="vm.progressPercentage < 100 ? vm.progressPercentage + '%' : ''">
        </div>
      </div>

      <span ng-show="vm.file.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>


      <div ng-if="vm.uploadResponse">

        <div class="form-group">
          <p class="col-xs-12" style="color: gray">
            Please indicate the original ontology URI in this file.
            <span ng-if="vm.possibleOntologyUris">
              You can either enter the URI manually or
              select one of the possible URIs detected from typical properties below.
            </span>
          </p>
        </div>

        <div class="form-group">
          <label class="control-label col-xs-2" for="inputOriginalUri">
            Original ontology URI:
          </label>

          <div class="col-xs-4">
            <input id="inputOriginalUri"
                   type="text"
                   class="form-control"
                   ng-model="vm.originalUri"
                   name="originalUri"
                   placeholder="Enter URI"
                   required>
          </div>
        </div>

        <div class="form-group" >
          <label class="col-xs-1"> </label>

          <div class="col-xs-10" ng-if="vm.possibleOntologyUris">
            <div style="color: gray">
              The following possible URI(s) were detected in the contents of the file:
            </div>

            <table class="table table-bordered table-condensed" style="width: initial">
              <thead>
              <tr>
                <th></th>
                <th>URI</th>
                <th>Explanation</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="(uri, info) in vm.possibleOntologyUris">
                <td style="width: 5px">
                  <button class="btn btn-info btn-xs"
                          ng-click="vm.originalUri = uri"
                          uib-tooltip="Select this as the original URI for this ontology"
                          tooltip-placement="right"
                  >
                    Select
                  </button>
                </td>
                <td>
                  <span class="uriTextSimple" style="font-size: large" ng-bind="uri">
                  </span>
                </td>
                <td>
                  <ul style="margin-left: 20px; padding-left: 0;">
                    <li ng-repeat="e in info.explanations">
                    <span ng-bind="e"
                          style="color:gray; font-weight: 200"
                    ></span>
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="col-xs-6" ng-if="!vm.possibleOntologyUris">
            <label>
              No URIs were detected in the contents of the file.
            </label>
          </div>

        </div>
      </div>

    </form>
  </div>
</div>

<pre ng-if="debug">{{vm | json}}</pre>
