<div>

  <div class="form-group">
    <label for="inputFile" class="control-label col-xs-2">
      Local file:
    </label>

    <div class="col-xs-4">
      <label ng-if="vm.uploadResponse"
             ng-bind="vm.uploadResponse.origFilename"
             class="form-control">
      </label>
      <input ng-if="!vm.uploadResponse"
             id="inputFile"
             type="file"
             class="form-control"
             style="font-weight: bold"
             ngf-select
             ng-model="vm.file"
             name="file"
             accept="*/*"
             ngf-max-size="{{vm.maxUploadSize}}" required
             ngf-model-invalid="vm.errorFile">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
      <i ng-show="myForm.file.$error.maxSize" style="color: red">
        File too large: {{vm.errorFile.size / 1000000|number:1}}MB
        (max is {{vm.maxUploadSize}})
      </i>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-2"> </label>
    <button ng-if="vm.uploadResponse"
            ng-click="reinitVm()"
            class="btn btn-default btn-sm">
      Upload another file
    </button>
    <button ng-if="!vm.uploadResponse"
            ng-disabled="!myForm.$valid"
            ng-click="doUpload(vm.file)"
            class="btn btn-primary btn-sm">
      Upload file
    </button>
  </div>

  <div class="progress" ng-show="vm.progressPercentage >= 0">
    <div style="width:{{vm.progressPercentage}}%; background-color: #dbdbdb"
         ng-bind="vm.progressPercentage < 100 ? vm.progressPercentage + '%' : ''">
    </div>
  </div>

  <span ng-show="vm.file.result">Upload Successful</span>
  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

  <br>

  <div ng-if="vm.uploadResponse">

    <div class="form-group" ng-if="!uriNewVersion">
      <p class="col-xs-12" style="color: gray">
        Please indicate the original ontology URI in this file.
        <span ng-if="vm.possibleOntologyUris">
          You can either enter the URI manually or
          select one of the possible URIs detected from typical properties below.
        </span>
      </p>
    </div>

    <div class="form-group" ng-if="!uriNewVersion">
      <label class="control-label col-xs-2" for="inputOriginalUri">
        Original ontology URI:
      </label>

      <div class="col-xs-4">
        <input id="inputOriginalUri"
               type="text"
               class="form-control"
               ng-model="vm.originalUri"
               name="originalUri"
               placeholder="Enter URI"
               required>
      </div>
    </div>

    <div class="form-group" >
      <label class="col-xs-1"> </label>

      <div class="col-xs-10" ng-if="vm.possibleOntologyUris">
        <div style="color: gray">
          <span ng-if="!uriNewVersion">
            The
          </span>
          <span ng-if="uriNewVersion">
            For your reference, the
          </span>
          following possible URI(s) were detected in the contents of the file:
        </div>

        <table class="table table-bordered table-condensed" style="width: initial">
          <thead>
          <tr>
            <th ng-if="!uriNewVersion"></th>
            <th>URI</th>
            <th>Explanation</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="(uri, info) in vm.possibleOntologyUris">
            <td style="width: 5px" ng-if="!uriNewVersion">
              <button class="btn btn-info btn-xs"
                      ng-click="vm.originalUri = uri"
                      uib-tooltip="Select this as the original URI for this ontology"
                      tooltip-placement="right"
              >
                Select
              </button>
            </td>
            <td>
              <span class="uriTextSimple" style="font-size: large" ng-bind="uri">
              </span>
            </td>
            <td>
              <ul style="margin-left: 20px; padding-left: 0;">
                <li ng-repeat="e in info.explanations">
                <span ng-bind="e"
                      style="color:gray; font-weight: 200"
                ></span>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-6" ng-if="!vm.possibleOntologyUris">
          No URIs were detected in the contents of the uploaded file.
      </div>

    </div>
  </div>
</div>
