<div>

  <div class="form-group">
    <label for="inputUrl" class="control-label col-xs-2">
      Remote URL:
    </label>

    <div class="col-xs-7">
      <input id="inputUrl"
             type="url"
             class="form-control"
             width="50em"
             style="font-weight: bold"
             ng-model="vm.remoteUrl"
             required
             placeholder="Enter URL"
             ng-disabled="vm.uploadingRemoteUrl"
             >
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-2"> </label>
    <button ng-disabled="!myForm.$valid || vm.uploadingRemoteUrl"
            ng-click="doUpload()"
            class="btn btn-primary btn-xs">
      Upload URL
    </button>
    <span ng-if="vm.uploadingRemoteUrl">
      <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
      Please wait ...
    </span>
  </div>


  <div class="form-group" ng-if="!uriNewVersion && vm.uploadResponse"
       uib-tooltip="Initialized with the given remote URL but can be changed as appropriate"
       tooltip-placement="bottom"
  >
    <label class="control-label col-xs-2" for="inputOriginalUri">
      Original ontology IRI:
    </label>

    <div class="col-xs-7">
      <input id="inputOriginalUri"
             type="text"
             class="form-control"
             ng-model="vm.originalUri"
             name="originalUri"
             placeholder="Enter IRI"
             required>
    </div>
  </div>

  <div class="form-group" ng-if="vm.uploadResponse">
    <label class="col-xs-1"> </label>

    <div class="col-xs-10" ng-if="vm.possibleOntologyUris">
      <div style="color: gray">
        <span ng-if="!uriNewVersion">
          The following possible IRI(s) were detected in the contents of the file:
        </span>
        <span ng-if="uriNewVersion">
          For your reference, the following possible IRI(s) were detected in the contents of the file:
        </span>
        <br>
      </div>

      <table class="table table-bordered table-condensed" style="width: initial">
        <thead>
        <tr>
          <th ng-if="!uriNewVersion"></th>
          <th>IRI</th>
          <th>Explanation</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(uri, info) in vm.possibleOntologyUris">
          <td style="width: 5px" ng-if="!uriNewVersion">
            <button class="btn btn-info btn-xs"
                    ng-click="vm.originalUri = uri"
                    uib-tooltip="Select this as the original IRI for this ontology"
                    tooltip-placement="right"
            >
              Select
            </button>
          </td>
          <td>
              <span class="uriTextSimple" style="font-size: large" ng-bind="uri">
              </span>
          </td>
          <td>
            <ul style="margin-left: 20px; padding-left: 0;">
              <li ng-repeat="e in info.explanations">
                <span ng-bind="e"
                      style="color:gray; font-weight: 200"
                ></span>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6" ng-if="!vm.possibleOntologyUris">
      No IRIs were detected in the contents of the uploaded file.
    </div>
  </div>

</div>
