<div class="panel panel-default">

  <div class="panel-heading">
    <div>
      <div style="float: left; font-weight: bold">
        Ontology metadata
      </div>

      <div style="float: right">

        <button ng-click="backPage('upload')"
                class="btn btn-primary btn-sm">
          <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
        </button>

        <button ng-click="nextPage('select-regtype')"
                class="btn btn-primary btn-sm">
          Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>

      </div>

      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="panel-body">

    <form name="myForm" class="form-horizontal" style="padding-left: 20px">

        <div class="form-group">
          <div class="col-xs-12">
            <div ng-if="vm.possibleOntologyUris[vm.originalUri].metadata">
              <div ng-repeat="(propUri, propValues) in vm.possibleOntologyUris[vm.originalUri].metadata">
                <label ng-bind="propUri"></label>
                <span ng-if="propValues.length > 5" style="color: gray">
                  ({{propValues.length}} values)
                </span>
                <ul>
                  <li ng-repeat="propValue in propValues">
                    <span ng-bind="propValue"></span>
                  </li>
                </ul>
              </div>
            </div>
            <div ng-if="!vm.possibleOntologyUris[vm.originalUri].metadata">
              <span style="color: gray; font-style: italic">
                No properties associated to the IRI were found in the uploaded file.
              </span>
            </div>
          </div>
        </div>

    </form>
  </div>
</div>
