<div style="display: inline-block; vertical-align: top; width: 500px; margin-left: 20px; margin-top: 20px">
    <div class="panel panel-default">

        <div class="panel-heading">Sign in</div>

        <div class="panel-body">

            <form class="form-horizontal">

                <div class="form-group">
                    <label for="inputUserName" class="control-label col-xs-4">
                        Username:
                    </label>

                    <div class="col-xs-5">
                        <input id="inputUserName"
                               type="text" class="form-control" style="width: 10em"
                               ng-keypress="loginKeyPressed($event)"
                               ng-model="vm.userName"
                        >
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-4">
                        Password:
                    </label>

                    <div class="col-xs-5">
                        <input id="inputPassword"
                               type="password" class="form-control" style="width: 10em"
                               ng-keypress="loginKeyPressed($event)"
                               ng-model="vm.password"
                        >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3"> </label>
                    <button class="btn btn-primary btn-sm" ng-click="doLogin()"
                            ng-disabled="refreshing || !isValid()"
                            >Sign in
                    </button>

                    <label class="col-xs-1"> </label>
                    <button class="btn btn-primary btn-sm" ng-click="cancelLogin()"
                            ng-disabled="refreshing"
                            >Cancel
                    </button>
                </div>

            </form>

            <label ng-show="error"> {{ error }} </label>


        </div>
    </div>
</div>
