<div style="width: 100%">

    <table class="mynav">
        <thead>

        <tr>
            <th>
                <table>
                    <tr>
                        <td>
                            <div style="float: left;">
                                <button class="btn btn-default btn-xs" ng-click="refresh()"
                                        ng-disabled="refreshing"
                                        tooltip="Refresh"
                                        tooltip-placement="bottom"
                                        >
                                    <span ng-hide="refreshing" class="fa fa-refresh"></span>
                                    <span ng-show="refreshing" class="fa fa-refresh fa-spin"></span>
                                </button>
                            </div>
                        </td>

                        <td>
                            <div style="display: inline-block; position: relative">
                                <input type="text" class="search form-control" placeholder="Global filter"
                                       ng-model="tableOpts.globalFilter" ng-keypress="searchKeyPressed($event)"
                                       ng-change="filterData()"
                                       tooltip="Enter to capture search in URL"
                                       tooltip-placement="bottom"
                                >
                                <span style="position: absolute; top: 5px; right: 5px"
                                      ng-show="!!tableOpts.globalFilter"
                                      ng-click="clearSearch()">
                                    <span class="fa fa-times"></span>
                                </span>
                            </div>

                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="doSearch()"
                                    tooltip="Capture search in URL"
                                    tooltip-placement="bottom"
                            >
                                <span class="fa fa-search"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </th>
        </tr>
        </thead>
    </table>

    <div ui-grid="gridOptions" class="ontGrid"></div>


</div>
