<div style="width: 100%">

  <uib-tabset style="width: 100%">

    <uib-tab ng-repeat="classInfo in vm.classInfos" style="cursor: pointer">

      <script type="text/ng-template" id="classTabPopup.html">
        <span>
          Class:
          <a target="_blank"
             ng-href="{{classInfo.uri}}"
             ng-bind="classInfo.uri"
             ng-mouseleave="classInfo.showPopup=false"
            >
          </a>
        </span>
      </script>

      <tab-heading ng-mouseenter="classInfo.showPopup=true" ng-mouseleave="classInfo.showPopup=false">

        <div uib-popover-template="'classTabPopup.html'"
             popover-placement="right"
             popover-is-open="classInfo.showPopup"
          >
             {{classInfo.label}}
        </div>

      </tab-heading>

<!--
      note: will probably use tr-ng-grid instead of u-grid

      <div ng-if="vm.gridOptions">
      <div ui-grid="vm.gridOptions" ui-grid-edit ui-grid-cellNav class="vocGrid"></div>
      </div>

      For now, using a direct table while testing things
-->

      <table class="table table-bordered">
        <thead>
        <tr>

          <th>URI</th>
          <!-- TODO explicit URI column during development; this will actually be a link
          to the column having the "local" name of the instance -->

          <th ng-repeat="p in classInfo.properties" ng-bind="p.label">
          </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="i in classInfo.instances">

          <td ng-bind-html="i.uri | mklink4uriAlwaysUriParameter"></td>

          <td ng-repeat="p in classInfo.properties"
              ng-bind-html="i[p.uri][0].value | mklinksOnlyExternal"
            >
          </td>

        </tr>
        </tbody>
      </table>

    </uib-tab>

  </uib-tabset>

</div>
