<span>
    <div class="btn-group" uib-dropdown>
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle
              uib-popover-html="'<div class=left>' +
              (rvm.rVersion ? 'Version: ' +rvm.rVersion+ '<br><br>' : '') +
              'Status: ' + (
              vm.ontology.status
              ? '<span class=bold>' + vm.ontology.status + '</span> - ' + (statusInfo[vm.ontology.status] || '(description not available)')
              : '(not defined)'
              ) + '</div>'"
              popover-placement="right"
              popover-trigger="mouseenter"
              popover-append-to-body="true"
      >
        Status: <span style="font-weight: bold">{{vm.ontology.status}}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" style="cursor: pointer">
        <li ng-repeat="s in statuses">
          <a ng-click="setStatus(s)"
             uib-popover-html="'<div class=left><span class=bold>' + s + '</span> - ' + statusInfo[s] + '</div>'"
             popover-placement="right"
             popover-trigger="mouseenter"
             popover-append-to-body="true"
          >
            Change to: <span style="font-weight: bold">{{s}}</span>
          </a>
        </li>
      </ul>
    </div>
</span>
