<div>
  <form editable-form name="attrTableform"
        onaftersave="applyCellChanges()"
        ng-class="{'cell-editing': attrTableform.$visible}"
        tabindex="0"
        ng-keyup="cellKeyUp($event, attrTableform)"
        ng-focus="attrTableform.$show()"
  >

    <table class="table table-condensed"
           ng-class="{'table-hover': !attrTableform.$visible, 'transparent': attrTableform.$visible}"
           ng-click="enterCellEditing(attrTableform)"
           uib-tooltip="{{!attrTableform.$visible && !disableEditIf ? 'Click to edit the value(s) for this property' : ''}}"
    >
      <tr>
        <td ng-show="attrTableform.$visible" style="width: 10px">
          <div ng-if="propValueSelection"
               type="button" ng-click="selectValue(attrTableform)"
               class="btn btn-info btn-xs pull-right" style="margin-bottom: 4px"
               uib-tooltip="Select value"
               tooltip-placement="right"
          >
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </div>
          <div class="pull-right"
               uib-popover-html="cellEditTooltip"
               popover-placement="right"
               popover-trigger="mouseenter"
          >
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </div>
        </td>
        <td>
          <div editable-textarea="valueEntry"
                e-rows="{{textAreaRows}}"
                e-form="attrTableform"
                e-ng-keyup="cellTextAreaKeyUp($event, attrTableform)"
                e-ng-blur="applyAndSubmit(attrTableform)"
          >
                <!--ng-bind="valueEntry || '-'"-->

            <table ng-if="propValue.length > 1" class="table table-condensed transparent">
              <tr ng-repeat="v in propValue track by $index">
                <td ng-bind="v">
                </td>
              </tr>
            </table>

            <span ng-if="propValue.length === 1" ng-bind="propValue[0]">
              -
            </span>

            <span ng-if="!propValue.length">
              -
            </span>

          </div>
          <!--<pre ng-bind="'valueEntry=' +(valueEntry|json)"></pre>-->
        </td>
      </tr>
    </table>

  </form>
</div>
