<div>
  <form editable-form name="attrTableform"
        onaftersave="vm.applyCellChanges()"
        ng-class="{'cell-editing': attrTableform.$visible}"
        tabindex="0"
        ng-keyup="vm.cellKeyUp($event, attrTableform)"
        ng-focus="attrTableform.$show()"
  >

    <table class="table table-condensed"
           ng-class="{'table-hover': !attrTableform.$visible, 'transparent': attrTableform.$visible}"
           ng-click="vm.enterCellEditing(attrTableform)"
           uib-tooltip="{{!attrTableform.$visible && !vm.disableEditIf ? 'Click to edit the value(s) for this property' : ''}}"
    >
      <tr>
        <td ng-show="attrTableform.$visible" style="width: 10px">
          <div ng-if="vm.propValueSelection"
               type="button" ng-click="vm.selectValue(attrTableform)"
               class="btn btn-info btn-xs pull-right" style="margin-bottom: 4px"
               uib-popover="Select value [Ctrl-s]"
               popover-placement="right"
               popover-trigger="mouseenter"
          >
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </div>
          <div class="pull-right"
               uib-popover-html="vm.cellEditTooltip"
               popover-placement="right"
               popover-trigger="mouseenter"
          >
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </div>
        </td>
        <td>
          <div editable-textarea="vm.valueEntry"
               e-name="multivalueedit_valueEntry"
                e-rows="{{vm.textAreaRows}}"
                e-form="attrTableform"
                e-ng-keyup="vm.cellTextAreaKeyUp($event, attrTableform)"
                e-ng-blur="vm.applyAndSubmit(attrTableform)"
          >
            <table ng-if="vm.propValue.length > 1" class="table table-condensed transparent">
              <tr ng-repeat="v in vm.propValue track by $index">
                <td ng-bind="v">
                </td>
              </tr>
            </table>

            <span ng-if="vm.propValue.length === 1" ng-bind="vm.propValue[0] || '-'">
            </span>

            <span ng-if="!vm.propValue.length" ng-bind="'-'">
            </span>

          </div>
          <!--<pre ng-bind="'vm.valueEntry=' +(vm.valueEntry|json)"></pre>-->
        </td>
      </tr>
    </table>

  </form>
</div>
