<div>
  <div class="ont-DisclosurePanel-header"
       ng-init="dataCollapsed = false"
       ng-click="dataCollapsed = !dataCollapsed"
  >
    <a style="font-size: large">
      <i ng-if="dataCollapsed" class="fa fa-caret-right"></i>
      <i ng-if="!dataCollapsed" class="fa fa-caret-down"></i>
      Data
    </a>
  </div>

  <div uib-collapse="dataCollapsed" style="margin-left: 20px">

    <div ng-if="debug" class="debug">
      <pre>editMode = {{editMode | json}}</pre>
      <pre>ontData = {{ontData | json}}</pre>
    </div>

    <div ng-if="ontDataFormat === 'v2r'">
      <v2r-data-viewer ng-if="!editMode" vocabs="ontData" uri="uri"
      ></v2r-data-viewer>

      <v2r-data-editor ng-if="editMode" vocabs="ontData" uri="uri"
      ></v2r-data-editor>
    </div>

    <div ng-if="ontDataFormat === 'm2r'">
      <m2r-data uri="uri" ont-data="ontData" edit-mode="editMode"></m2r-data>
    </div>

    <div ng-if="ontDataFormat === 'rj'">

      <div ng-if="vm.externalOntViewers.length">
        <script type="text/ng-template" id="regularOntViewPopup.html">
          <div class="left" style="width: 500px"
               ng-mouseleave="_showPopup=undefined"
          >
            Options to display this externally created ontology:
            <br>
            <br>
            - <i>Triple table</i>: A searchable table of the triples in the ontology.
            <br>
            <br>
            External tool{{vm.externalOntViewers.length > 1 ? 's' : ''}}
            (dispatched in an iframe):
            <span ng-repeat="x in vm.externalOntViewers">
              <br>
              - <span ng-bind-html="x.tooltip"></span>
            </span>
          </div>
        </script>

        <label>
          Display contents using:
          <label ng-mouseenter="_showPopup=true" ng-mouseleave="_showPopup=undefined">
            <span
              uib-popover-template="'regularOntViewPopup.html'"
              popover-placement="right-top"
              popover-is-open="_showPopup"
            >
              <i class="fa fa-question-circle" aria-hidden="true" style="color: darkgray"></i>
            </span>
          </label>

        </label>
      </div>

      <div ng-show="vm.externalOntViewers.length"
           class="btn-group" style="margin-bottom: 8px">

        <div class="btn btn-default btn-xs"
                ng-model="vm.regularOntViewMode"
                uib-btn-radio="'rj-data-viewer'"
                ng-bind="'Triple table'"
           >
        </div>
        &nbsp;&nbsp;

        <span ng-repeat="x in vm.externalOntViewers"
              uib-popover-html="x.tooltip2"
              popover-placement="bottom-left"
              popover-trigger="mouseenter"
              append-to-body="true"
        >
          <label class="btn btn-default btn-xs"
                 ng-model="vm.regularOntViewMode"
                 uib-btn-radio="'external_' + $index"
                 ng-bind="x.label"
          ></label>
        </span>

      </div>

      <div ng-if="vm.regularOntViewMode === 'rj-data-viewer'">
        <rj-data-viewer uri="uri" rj="ontData" ></rj-data-viewer>
      </div>

      <div ng-repeat="x in vm.externalOntViewers">
        <div ng-if="vm.regularOntViewMode === 'external_' + $index">
          <span class="form-control"
                uib-popover="Contents in the frame below are from the external service"
                popover-placement="top-left"
                popover-trigger="mouseenter"
          >
            <span class="uriTextSimple" ng-bind="x.srcUrl"></span>
            <a class="fa fa-external-link" target="_blank"
               uib-tooltip="open directly in a new browser window"
               ng-href="{{x.srcUrl}}"></a>

          </span>
          <iframe ng-src="{{x.srcUrl | trustAsResourceUrl}}"
                  width="100%" height="1200px"
          ></iframe>
        </div>
      </div>

    </div>

  </div>

</div>
