<span ng-if="vm.ontology.versions">
    <div class="btn-group" uib-dropdown>
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
        Versions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu uriVersionSelect" role="menu">
        <li ng-repeat="ontVersion in vm.ontology.versions">
          <a ng-href="{{linkForVersion(vm.uri, ontVersion)}}"
             uib-popover="{{ontVersion.log}}"
             popover-placement="bottom-left"
             popover-append-to-body="true"
             popover-trigger="mouseenter"
          >{{ontVersion.version}}</a>
        </li>
      </ul>
    </div>
</span>
