<span style="float: right; padding: 10px">

  <span ng-if="masterAuth.loggedInInfo.uid">
    <span ng-if="masterAuth.loggedInInfo.uid"
          uib-popover="{{masterAuth.loggedInInfo.uid || masterAuth.loggedInInfo.displayName}} - {{masterAuth.loggedInInfo.email}}"
          popover-placement="left"
          popover-trigger="mouseenter"
    >
      <span style="font-weight: 300; font-size: small;color: gray"
            class="btn btn-link btn-xs"
            ng-click="openAccountDialog(masterAuth.loggedInInfo.uid)"
      >
        {{masterAuth.loggedInInfo.displayName || masterAuth.loggedInInfo.uid}}
      </span>

      <i class="fa fa-{{masterAuth.loggedInInfo.provider}}"></i>
    </span>

    <button uib-popover="Log out"
            popover-placement="left"
            popover-trigger="mouseenter"
            class="btn btn-default btn-xs"
            ng-click="logout()"><i class="fa fa-sign-out"></i>
    </button>
  </span>

  <button ng-if="!masterAuth.loggedInInfo.uid"
    class="btn btn-default btn-xs" ng-click="openLoginDialog()">
    <i class="fa fa-sign-in"></i>
    Sign in
  </button>

</span>
