<span style="float: right; padding: 10px">

  <span ng-if="rvm.masterAuth.loggedInInfo.uid">
    <span uib-popover="{{rvm.masterAuth.loggedInInfo.displayName}} - {{rvm.masterAuth.loggedInInfo.email}}"
          popover-placement="left"
          popover-trigger="mouseenter"
    >
      <span style="font-weight: 300; font-size: small;color: gray"
            class="btn btn-link btn-xs"
            ng-click="openAccountDialog(rvm.masterAuth.loggedInInfo.uid)"
      >
        {{rvm.masterAuth.loggedInInfo.displayName || rvm.masterAuth.loggedInInfo.uid}}
      </span>

      <i class="fa fa-{{rvm.masterAuth.loggedInInfo.provider}}"></i>
    </span>

    <button uib-popover="Log out"
            popover-placement="left"
            popover-trigger="mouseenter"
            class="btn btn-default btn-xs"
            ng-click="logout()"><i class="fa fa-sign-out"></i>
    </button>
  </span>

  <span ng-if="!rvm.masterAuth.loggedInInfo.uid">
    <button class="btn btn-default btn-xs" ng-click="openLoginDialog()">
      <i class="fa fa-sign-in"></i>
      Sign in
    </button>
    <button class="btn btn-default btn-xs" ng-click="createAccount()">
      <i class="fa fa-user-plus"></i>
      Create account
    </button>
  </span>

</span>
