<div style="margin: 10px">

  <div style="background-color: #eeeeee; padding: 7px">

    <span ng-if="rvm.masterAuth.loggedInInfo.uid" title="{{rvm.masterAuth.loggedInInfo.uid}}">
      Welcome
      <span style="font-weight: bold">
        {{rvm.masterAuth.loggedInInfo.displayName}}
      </span>

      <span ng-if="rvm.masterAuth.loggedInInfo.email">
        {{rvm.masterAuth.loggedInInfo.email}}
      </span>

      <i class="fa fa-{{rvm.masterAuth.loggedInInfo.provider}}"></i>

      <button class="btn btn-default btn-xs" title="Sign out"
              ng-click="logout()"><i class="fa fa-sign-out"></i>
      </button>
    </span>

    <span ng-if="!rvm.masterAuth.loggedInInfo.uid">
      Sign-in:
      <button class="btn btn-info btn-xs" ng-click="openCustomLogin()">orr-ont</button>
      <button class="btn btn-info btn-xs" ng-click="openFireLogin()">firebase</button>
      <!--
      <button class="btn btn-info btn-xs" ng-click="login('github')"><i class="fa fa-github"></i></button>
      <button class="btn btn-info btn-xs" ng-click="login('google')"><i class="fa fa-google"></i></button>
      <button class="btn btn-info btn-xs" ng-click="login('twitter')"><i class="fa fa-twitter"></i></button>
      <button class="btn btn-info btn-xs" ng-click="login('facebook')"><i class="fa fa-facebook"></i></button>
      -->
    </span>

  </div>

  <div style="margin: 21px">

    <span ng-if="rvm.masterAuth.loggedInInfo.uid">
      You are logged in.
    </span>

  </div>
</div>
