<div style="width: 100%">
  <div style="width: 100%">

    <div style="float: left;">

      <table class="mynav">
        <thead>

        <tr>
          <th>
            <table>
              <tr>
                <td>
                  <div style="display: inline-block; position: relative">
                    <input type="text" class="search form-control"
                           placeholder="Global filter"
                           size="40"
                           ng-model="tableOpts.globalFilter" ng-keypress="searchKeyPressed($event)"
                           ng-change="filterData()"
                           uib-tooltip="Press Enter to capture search argument in URL"
                           tooltip-placement="right"
                      >
                      <span style="position: absolute; top: 5px; right: 5px"
                            ng-show="!!tableOpts.globalFilter"
                            ng-click="clearSearch()">
                          <span class="fa fa-times"></span>
                      </span>
                  </div>

                </td>
                <td>
                  <button class="btn btn-default btn-xs" ng-click="doSearch()">
                    <span class="fa fa-search"></span>
                  </button>
                </td>

                <td></td>

                <td ng-if="rvm.accountInfo">
                  <table>
                    <tr>
                      <td>
                        <a ui-sref="rx" class="btn btn-default btn-sm">
                          <i class="fa fa-upload" aria-hidden="true"></i>
                          Upload Ontology
                        </a>
                      </td>

                      <td>
                        <a ui-sref="newvoc({ newont: 'newvoc' })" class="btn btn-default btn-sm">
                          <i class="fa fa-table" aria-hidden="true"></i>
                          Create Vocabulary
                        </a>
                      </td>

                      <td>
                        <a ui-sref="newmap" class="btn btn-default btn-sm">
                          <i class="fa fa-columns" aria-hidden="true"></i>
                          Create Mapping
                        </a>
                      </td>

                      <td ng-if="userLoggedInIsAdmin()">
                        <admin-menu></admin-menu>
                      </td>
                    </tr>
                  </table>
                </td>

              </tr>
            </table>
          </th>
        </tr>
        </thead>
      </table>
    </div>

    <div style="float: right">
      <button class="btn btn-default btn-xs" ng-click="refresh()"
              ng-disabled="refreshing"
              uib-tooltip="Refresh"
              tooltip-placement="bottom"
        >
        <span ng-hide="refreshing" class="fa fa-refresh"></span>
        <span ng-show="refreshing" class="fa fa-refresh fa-spin"></span>
      </button>
    </div>
    <span style="width: 30px"></span> <!-- some filler -->
    <div style="clear:both;"></div>
  </div>

  <div style="width: 100%">

    <div ui-grid="gridOptions" class="ontGrid"></div>

  </div>
</div>
